p:empty{display:none;}
@font-face{font-family:'montserratregular';src:url("../App_Plugins/mpdicons/montserrat-regular-webfont.eot");src:url("../App_Plugins/mpdicons/montserrat-regular-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../App_Plugins/mpdicons/montserrat-regular-webfont.woff") format("woff"), url("../App_Plugins/mpdicons/montserrat-regular-webfont.ttf") format("truetype"), url("../App_Plugins/mpdicons/montserrat-regular-webfont.svg#montserratregular") format("svg");font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
@font-face{font-family:'montserratbold';src:url("../App_Plugins/mpdicons/mont-bold.eot");src:url("../App_Plugins/mpdicons/mont-boldd41d.eot?#iefix") format("embedded-opentype"), url("../App_Plugins/mpdicons/mont-bold.woff") format("woff"), url("../App_Plugins/mpdicons/mont-bold.ttf") format("truetype"), url("../App_Plugins/mpdicons/mont-bold-webfont.html#montserratbold") format("svg");font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
@font-face{font-family:'Asap-Regular';src:url("../App_Plugins/mpdicons/asap-regular.eot");src:url("../App_Plugins/mpdicons/asap-regulard41d.eot?#iefix") format("embedded-opentype"), url("../App_Plugins/mpdicons/asap-regular.woff") format("woff"), url("../App_Plugins/mpdicons/asap-regular.svg") format("svg");font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
@font-face{font-family:'mpd-icon';src:url("../../fonts/icomoon.eot");src:url("../../fonts/icomoon.eot") format("embedded-opentype"), url("../../fonts/icomoon.woff") format("woff"), url("../../fonts/icomoon.ttf") format("truetype"), url("../../fonts/icomoon.svg") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'track-icon';src:url("../App_Plugins/mpdicons/track-icomoon3059.eot?-ndsscj");src:url("../App_Plugins/mpdicons/track-icomoond41d.eot?#iefix-ndsscj") format("embedded-opentype"), url("../App_Plugins/mpdicons/track-icomoon3059.woff?-ndsscj") format("woff"), url("../App_Plugins/mpdicons/track-icomoon3059.ttf?-ndsscj") format("truetype"), url("../App_Plugins/mpdicons/track-icomoon3059.svg?-ndsscj#icomoon") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'services-icons';src:url("../App_Plugins/mpdicons/services-icomoon3059.eot?-ndsscj");src:url("../App_Plugins/mpdicons/services-icomoond41d.eot?#iefix-ndsscj") format("embedded-opentype"), url("../App_Plugins/mpdicons/services-icomoon3059.woff?-ndsscj") format("woff"), url("../App_Plugins/mpdicons/services-icomoon3059.ttf?-ndsscj") format("truetype"), url("../App_Plugins/mpdicons/services-icomoon3059.svg?-ndsscj#icomoon") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'contact-icon';src:url("../App_Plugins/mpdicons/contact-icomoon3059.eot?-ndsscj");src:url("../App_Plugins/mpdicons/contact-icomoond41d.eot?#iefix-ndsscj") format("embedded-opentype"), url("../App_Plugins/mpdicons/contact-icomoon3059.woff?-ndsscj") format("woff"), url("../App_Plugins/mpdicons/contact-icomoon3059.ttf?-ndsscj") format("truetype"), url("../App_Plugins/mpdicons/contact-icomoon3059.svg?-ndsscj#icomoon") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'help-icon';src:url("../App_Plugins/mpdicons/help-icomoon3059.eot?-ndsscj");src:url("../App_Plugins/mpdicons/help-icomoond41d.eot?#iefix-ndsscj") format("embedded-opentype"), url("../App_Plugins/mpdicons/help-icomoon3059.woff?-ndsscj") format("woff"), url("../App_Plugins/mpdicons/help-icomoon3059.ttf?-ndsscj") format("truetype"), url("../App_Plugins/mpdicons/help-icomoon3059.svg?-ndsscj#icomoon") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'press-release-icon';src:url("../../fonts/press-release-icomoon3059.eot?-ndsscj");src:url("../../fonts/press-release-icomoond41d.eot?#iefix-ndsscj") format("embedded-opentype"), url("../../fonts/press-release-icomoon3059.woff?-ndsscj") format("woff"), url("../../fonts/press-release-icomoon3059.ttf?-ndsscj") format("truetype"), url("../../fonts/press-release-icomoon3059.svg?-ndsscj#icomoon") format("svg");font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-my-parcel-box:before{content:"\e63f";}
.icon-edit45:before{content:"\e640";}
.icon-keyboard53:before{content:"\e621";}
.icon-keyboard532:before{content:"\e622";}
.icon-earth16:before{content:"\e623";}
.icon-leftarrow5:before{content:"\e624";}
.icon-leftarrow52:before{content:"\e625";}
.icon-circle10:before{content:"\e626";}
.icon-checkbox:before{content:"\e627";}
.icon-user58:before{content:"\e628";}
.icon-magnifying47:before{content:"\e629";}
.icon-download7:before{content:"\e62a";}
.icon-paid:before{content:"\e62b";}
.icon-lock73:before{content:"\e62c";}
.icon-apple4:before{content:"\e62d";}
.icon-comments:before{content:"\e62e";}
.icon-calendar68:before{content:"\e62f";}
.icon-shield82:before{content:"\e630";}
.icon-speech117:before{content:"\e631";}
.icon-email20:before{content:"\e632";}
.icon-printer4:before{content:"\e633";}
.icon-information68:before{content:"\e634";}
.icon-help19:before{content:"\e635";}
.icon-package30:before{content:"\e636";}
.icon-star138:before{content:"\e637";}
.icon-wireless29:before{content:"\e638";}
.icon-csv1:before{content:"\e639";}
.icon-coins24:before{content:"\e63a";}
.icon-royalty4:before{content:"\e63b";}
.icon-delivery23:before{content:"\e63c";}
.icon-cart:before{content:"\e63d";}
.icon-phone:before{content:"\e63e";}
.icon-home:before{content:"\e618";}
.icon-location:before{content:"\e619";}
.icon-quotes-left:before{content:"\e61a";}
.icon-target:before{content:"\e61b";}
.icon-download:before{content:"\e61c";}
.icon-smiley:before{content:"\e61d";}
.icon-sad:before{content:"\e61e";}
.icon-plus:before{content:"\e61f";}
.icon-paypal:before{content:"\e620";}
.icon-camera:before{content:"\e604";}
.icon-location2:before{content:"\e605";}
.icon-compass:before{content:"\e606";}
.icon-zoomin:before{content:"\e607";}
.icon-zoomout:before{content:"\e608";}
.icon-share:before{content:"\e609";}
.icon-location22:before{content:"\e60a";}
.icon-chat:before{content:"\e60b";}
.icon-music:before{content:"\e60c";}
.icon-cd:before{content:"\e60d";}
.icon-rss:before{content:"\e60e";}
.icon-checkmark:before{content:"\e60f";}
.icon-cross:before{content:"\e610";}
.icon-list:before{content:"\e611";}
.icon-arrow-left:before{content:"\e600";}
.icon-arrow-down:before{content:"\e601";}
.icon-arrow-up:before{content:"\e602";}
.icon-arrow-right:before{content:"\e603";}
.icon-twitter:before{content:"\e612";}
.icon-facebook:before{content:"\e613";}
.icon-googleplus:before{content:"\e614";}
.icon-linkedin:before{content:"\e615";}
.icon-spotify:before{content:"\e616";}
.icon-instagram:before{content:"\e617";}
.icon-help19:before{content:"\e635";}
[class^="icon-service-"], [class*=" icon-service-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-service-headset:before{content:"\e900";}
.icon-service-ppc:before{content:"\e901";}
.icon-service-crown35:before{content:"\e669";}
.icon-service-add20:before{content:"\e668";}
.icon-service-us:before{content:"\e665";}
.icon-service-australia:before{content:"\e666";}
.icon-service-china:before{content:"\e667";}
.icon-service-caution2:before{content:"\e641";}
.icon-service-human88:before{content:"\e663";}
.icon-service-dropoff-depot:before{content:"\e662";}
.icon-service-next-day:before{content:"\e654";}
.icon-service-same-day:before{content:"\e655";}
.icon-service-earth53:before{content:"\e656";}
.icon-service-eu:before{content:"\e657";}
.icon-service-small53:before{content:"\e658";}
.icon-service-dropoff-shop:before{content:"\e659";}
.icon-service-airplane-lorry:before{content:"\e65a";}
.icon-service-world30:before{content:"\e65b";}
.icon-service-truck59:before{content:"\e65c";}
.icon-service-two20:before{content:"\e65d";}
.icon-service-point8:before{content:"\e65e";}
.icon-service-sat-calendar:before{content:"\e65f";}
.icon-service-multiple-boxes:before{content:"\e660";}
.icon-service-pen69:before{content:"\e651";}
.icon-service-circular218:before{content:"\e664";}
.icon-service-noprinter:before{content:"\e652";}
.icon-service-drop-off-hermes:before{content:"\e653";}
.icon-service-draw13:before{content:"\e600";}
.icon-service-world92:before{content:"\e601";}
.icon-service-timer3:before{content:"\e602";}
.icon-service-print36:before{content:"\e603";}
.icon-service-pen68:before{content:"\e604";}
.icon-service-shopping116:before{content:"\e605";}
.icon-service-view1:before{content:"\e606";}
.icon-service-phone378:before{content:"\e607";}
.icon-service-right14:before{content:"\e608";}
.icon-service-receipt1:before{content:"\e609";}
.icon-service-fast44:before{content:"\e60a";}
.icon-service-pencil108:before{content:"\e60b";}
.icon-service-drug2:before{content:"\e60c";}
.icon-service-delivery32:before{content:"\e60d";}
.icon-service-commercial15:before{content:"\e60e";}
.icon-service-weight4:before{content:"\e60f";}
.icon-service-smiling36:before{content:"\e610";}
.icon-service-rising10:before{content:"\e611";}
.icon-service-wheelbarrow:before{content:"\e612";}
.icon-service-windows5:before{content:"\e613";}
.icon-service-share4:before{content:"\e614";}
.icon-service-weight3:before{content:"\e615";}
.icon-service-shape3:before{content:"\e616";}
.icon-service-transport:before{content:"\e617";}
.icon-service-ruler4:before{content:"\e618";}
.icon-service-right218:before{content:"\e619";}
.icon-service-target20:before{content:"\e61a";}
.icon-service-recycle23:before{content:"\e61b";}
.icon-service-print5:before{content:"\e61c";}
.icon-service-pounds9:before{content:"\e61d";}
.icon-service-piggy10:before{content:"\e61e";}
.icon-service-packaging:before{content:"\e61f";}
.icon-service-packages:before{content:"\e620";}
.icon-service-object12:before{content:"\e621";}
.icon-service-logistics9:before{content:"\e622";}
.icon-service-logistics3:before{content:"\e623";}
.icon-service-logistics2:before{content:"\e624";}
.icon-service-locked14:before{content:"\e625";}
.icon-service-list29:before{content:"\e626";}
.icon-service-last:before{content:"\e627";}
.icon-service-invoice1:before{content:"\e628";}
.icon-service-international12:before{content:"\e629";}
.icon-service-house28:before{content:"\e62a";}
.icon-service-house149:before{content:"\e62b";}
.icon-service-home84:before{content:"\e62c";}
.icon-service-hoist1:before{content:"\e62d";}
.icon-service-history6:before{content:"\e62e";}
.icon-service-happy47:before{content:"\e62f";}
.icon-service-gps23:before{content:"\e630";}
.icon-service-footprint16:before{content:"\e631";}
.icon-service-event7:before{content:"\e632";}
.icon-service-email23:before{content:"\e633";}
.icon-service-edit12:before{content:"\e634";}
.icon-service-delivery42:before{content:"\e635";}
.icon-service-delivery35:before{content:"\e636";}
.icon-service-delivery34:before{content:"\e637";}
.icon-service-delivery24:before{content:"\e638";}
.icon-service-delivery22:before{content:"\e639";}
.icon-service-delivered:before{content:"\e63a";}
.icon-service-dark37:before{content:"\e63b";}
.icon-service-checkbox:before{content:"\e63c";}
.icon-service-commercial34:before{content:"\e63d";}
.icon-service-comments8:before{content:"\e63e";}
.icon-service-clock101:before{content:"\e63f";}
.icon-service-circular191:before{content:"\e640";}
.icon-service-caution2:before{content:"\e641";}
.icon-service-camera74:before{content:"\e642";}
.icon-service-month1:before{content:"\e643";}
.icon-service-calculator45:before{content:"\e644";}
.icon-service-boxes2:before{content:"\e645";}
.icon-service-box79:before{content:"\e646";}
.icon-service-heart297:before{content:"\e647";}
.icon-service-box52:before{content:"\e648";}
.icon-service-box39:before{content:"\e649";}
.icon-service-back3:before{content:"\e64a";}
.icon-service-arrow491:before{content:"\e64b";}
.icon-service-arrow230:before{content:"\e64c";}
.icon-service-box63:before{content:"\e64d";}
.icon-service-coins24:before{content:"\e64e";}
.icon-service-svg:before{content:"\e64f";}
.icon-service-clock100:before{content:"\e650";}
[class^="track-icon="], [class*=" track-icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.track-icon-close40:before{content:"\e601";}
.track-icon-checked:before{content:"\e603";}
.track-icon-back3:before{content:"\e600";}
.track-icon-questions1:before{content:"\e602";}
[class^="contact-icon="], [class*=" contact-icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.contact-icon-check52:before{content:"\e606";}
.contact-icon-information38:before{content:"\e600";}
.contact-icon-place4:before{content:"\e601";}
.contact-icon-commercial33:before{content:"\e602";}
.contact-icon-chat55:before{content:"\e603";}
.contact-icon-call10:before{content:"\e604";}
.contact-icon-questions1:before{content:"\e605";}
.contact-icon-check52:before{content:"\e606";}
[class^="help-icon="], [class*=" help-icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.help-icon-arrow492:before{content:"\e60a";}
.help-icon-controls1:before{content:"\e609";}
.help-icon-arrow486:before{content:"\e600";}
.help-icon-email20:before{content:"\e602";}
.help-icon-call10:before{content:"\e603";}
.help-icon-work:before{content:"\e605";}
.help-icon-chat55:before{content:"\e608";}
[class^="press-release-icon="], [class*="press-release-icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.press-release-icon-ascending24:before{content:"\e600";}
.press-release-icon-call10:before{content:"\e601";}
.press-release-icon-cancel30:before{content:"\e602";}
.press-release-icon-delivery23:before{content:"\e603";}
.press-release-icon-download8:before{content:"\e604";}
.press-release-icon-email20:before{content:"\e605";}
.noPadRight{padding-right:0!important;}
div.mpHeader{border-bottom:2px solid #5FB047;}
header.mpdHeader{position:relative;background:#fff;height:109px;text-align:center;margin:auto;}
header.mpdHeader .user-menu{list-style:none;float:right;padding:0 0 0 5px;}
header.mpdHeader .user-menu .dropdown{position:relative;}
header.mpdHeader a.mpd-logo{float:left;text-decoration:none !important;width:272px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
header.mpdHeader a.mpd-logo div.m-mpd{background:#5fb047;text-align:center;float:left;padding:11px 17px 10px 17px;margin-right:4px;margin-top:8px;border-radius:999px;}
header.mpdHeader a.mpd-logo div.m-mpd span{font-family:mpd-icon;color:#FFF;font-size:60px;}
header.mpdHeader a.mpd-logo img{height:60px;}
header.mpdHeader a.mpd-logo div.mpd-logo-text{font-family:montserratbold, montserratregular, Helvetica;text-transform:uppercase;color:#5f666e;float:left;font-size:25px;width:116px;text-align:left;line-height:22px;margin-top:16px;}
header.mpdHeader a.mpd-logo div.mpd-logo-strap{color:#5fb047;font-family:montserratregular, Helvetica;font-size:13px;float:left;}
header.mpdHeader a.mpd-logo:hover{opacity:1 !important;}
header.mpdHeader a.shopping-basket{float:right;text-decoration:none;margin-top:40px;margin-left:12px;position:relative;}
header.mpdHeader a.shopping-basket div.basket-icon{position:relative;float:left;width:31px;height:37px;margin-right:6px;top:-2px;font-size:32px;}
header.mpdHeader a.shopping-basket:hover div.basket-icon:before{color:#ef6224;}
header.mpdHeader a.shopping-basket div.basket-icon div.basket-count{position:absolute;width:30px;text-align:center;color:#fff;top:17px;left:1px;font-size:13px;}
header.mpdHeader a.shopping-basket div.basket-icon:before{content:"\e63d";font-family:mpd-icon;color:#5fb047;}
header.mpdHeader a.shopping-basket div.basket-title{color:#5f666c;float:left;font-family:montserratregular, Helvetica;font-size:17px;margin-top:8px;}
header.mpdHeader a.shopping-basket div.basket-total{position:absolute;left:8px;top:18px;color:#999999 !important;width:87px;text-align:right;display:none;}
header.mpdHeader a.shopping-basket div.basket-value{float:left;color:#E9E9E9;}
header.mpdHeader .user-menu{list-style:none;float:right;padding:0 0 0 5px;}
header.mpdHeader .user-menu .caret{border-bottom-color:#5fb047;margin-left:8px;}
header.mpdHeader .user-menu ul.dropdown-menu{left:-49px !important;border:1px solid #eee;border-radius:0px !important;}
header.mpdHeader .user-menu ul.dropdown-menu li a{text-align:left;display:block;padding:6px 20px;}
header.mpdHeader .user-menu ul.dropdown-menu li a:hover{opacity:1 !important;}
header.mpdHeader .login-status{position:absolute;right:0;top:3px;}
header.mpdHeader .login-status:before{content:"\e628";font-family:mpd-icon;font-size:11px;color:#ccc;}
header.mpdHeader .login-status a{padding-left:0;}
@media only screen and (max-width:6000px){header.mpdHeader{width:1240px;}
}
@media only screen and (max-width:1240px){header.mpdHeader{width:979px;}
}
@media only screen and (max-width:990px){header.mpdHeader{width:767px;}
header.mpdHeader .login-status{right:15px;}
header.mpdHeader a.shopping-basket{width:85px;margin-right:15px;}
header.mpdHeader a.shopping-basket div.basket-title{color:#5f666c;float:left;font-family:montserratregular, Helvetica;font-size:14px;}
header.mpdHeader a.shopping-basket div.basket-total{left:38px !important;text-align:left !important;}
header.mpdHeader a.mpd-logo{width:239px !important;margin-left:5px;}
header.mpdHeader a.mpd-logo div.mpd-logo-text{font-size:20px !important;width:105px !important;text-align:left !important;line-height:20px !important;margin-top:15px !important;}
}
@media only screen and (max-width:767px){div.mpHeader{border-bottom:0;}
header.mpdHeader{height:68px !important;width:100%;background:#5fb047;border-bottom:none !important;}
header.mpdHeader a.mpd-logo{width:130px !important;transition:0.5s;}
header.mpdHeader a.mpd-logo div.m-mpd{margin-right:0px !important;padding:8px 8px 8px 6px !important;margin-top:0px;transition:0.5s;}
header.mpdHeader a.mpd-logo div.m-mpd span{font-size:45px;}
header.mpdHeader a.mpd-logo div.m-mpd img{height:50px !important;margin:0px 0 0 0;}
header.mpdHeader a.mpd-logo div.mpd-logo-text{color:white !important;font-size:14px !important;width:74px !important;line-height:15px !important;margin-top:10px !important;letter-spacing:0px;}
header.mpdHeader a.mpd-logo div.mpd-logo-strap{display:none;}
header.mpdHeader .shopping-basket{display:none;}
header.mpdHeader a.my-account{font-family:mpd-icon;color:#fff;text-decoration:none;padding:12px;font-size:30px;}
header.mpdHeader a.track-order{border:1px solid #fff;padding:6px;border-radius:3px;color:#fff;text-decoration:none;margin-top:15px;margin-right:3%;}
header.mpdHeader a.my-account:before{content:"\e628";}
header.mpdHeader .login-status{right:-210px !important;top:0px !important;width:210px;background:#eee;margin-bottom:5px;padding:7px 16px 2px;height:37px;}
header.mpdHeader .login-status ul.dropdown-menu{left:-79px !important;border:1px solid #eee;padding:7px 1px;width:196px;}
header.mpdHeader .login-status ul.dropdown-menu li{padding:6px 0;}
}
.mobile-menu-button, .mobile-menu-header{display:none;}
nav.mpdNavigation{margin:0;padding:0;float:right;margin-top:40px;width:auto;}
nav.mpdNavigation ul{height:49px;width:auto;float:left;padding:0;}
nav.mpdNavigation ul li.open > a{color:#5fb047 !important;}
nav.mpdNavigation ul li{float:left;margin:0;border-right:1px solid #eee;list-style:none !important;height:44px;}
nav.mpdNavigation ul li a{color:#5f666c;font-size:17px;display:block;transition:none;font-family:montserratregular, Helvetica;text-decoration:none;margin-top:8px;}
nav.mpdNavigation ul li a:hover{text-decoration:underline;color:#5fb047;opacity:1;}
nav.mpdNavigation ul li a .caret{border-top:#5fb047 4px solid;margin-left:8px;}
nav.mpdNavigation ul li ul.mega-menu{border:1px solid #E9E9E9;background:white !important;width:775px;height:375px;top:67px;padding:5px 10px;border-radius:0px;}
nav.mpdNavigation ul li ul.mega-menu li{border:none;width:25%;}
nav.mpdNavigation ul li ul.mega-menu li.firstList{border:none;width:30%;}
nav.mpdNavigation ul li ul.mega-menu li.lastList{border:none;width:20%;}
nav.mpdNavigation ul li ul.mega-menu li a{border:none;font-weight:normal;text-align:left;font-size:13px;padding-right:2px !important;}
nav.mpdNavigation ul li ul.mega-menu li a:hover{background:none !important;}
nav.mpdNavigation ul li ul.mega-menu li strong{font-size:15px;float:left !important;margin-left:10px;font-family:montserratregular, Helvetica;font-weight:normal !important;margin-top:10px;}
nav.mpdNavigation ul ul.mobile-mega-menu span{display:none;}
nav.mpdNavigation ul ul.mini-menu{border:1px solid #E9E9E9;background:white !important;width:100px;left:-2px;height:auto;top:67px;border-radius:0px;}
nav.mpdNavigation ul ul.mini-menu li{border:none;width:100%;height:36px;}
nav.mpdNavigation ul ul.mini-menu li a{border:none;font-weight:normal;text-align:left;font-size:13px;}
nav.mpdNavigation ul ul.mini-menu li a:hover{background:none !important;}
nav.mpdNavigation ul li ul.sub-sub{width:100%;}
nav.mpdNavigation ul li ul.sub-sub li{width:100%;PADDING:0PX !important;margin:0px !important;height:auto !important;}
nav.mpdNavigation ul li ul.sub-sub li a{padding-left:11px;}
@media only screen and (max-width:6000px){nav.mpdNavigation ul li ul.mega-menu{left:-415px;}
nav.mpdNavigation ul li a{padding:0 22px;}
}
@media only screen and (max-width:1240px){nav.mpdNavigation ul li ul.mega-menu{}
nav.mpdNavigation ul li a{padding:0 20px;}
}
@media only screen and (max-width:990px){nav.mpdNavigation ul li ul.mega-menu{left:-448px !important;height:412px !important;padding:10px 20px;width:725px;}
nav.mpdNavigation ul li ul.mega-menu li strong{margin-left:4px !important;}
nav.mpdNavigation ul ul.mini-menu{left:-13px;}
nav.mpdNavigation ul{margin:0;padding:0;}
nav.mpdNavigation ul li{height:44px;}
nav.mpdNavigation ul li a{font-size:14px !important;padding:0px 6px !important;}
}
@media only screen and (max-width:767px){nav.mpdNavigation{margin-left:10px;}
nav.mpdNavigation ul li.last-mob-link{border-bottom:none !important;}
nav.mpdNavigation ul li.last-mob-link a.close-mob-menu{color:#5fb047;font-family:asap, arial !important;width:100%;}
.mobile-menu-header{display:block;text-align:left;padding-left:13px;color:#5fb047;font-size:18px;font-family:Asap-Regular, Arial;}
.mobile-menu-button{padding:0px 16px;font-size:45px;float:right;display:block !important;}
.mobile-menu-button:before{font-family:mpd-icon;content:"\e611";color:#fff;}
.slide{-webkit-transition:all .1s linear;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);width:100%;clear:both;}
#container.active .slide{-webkit-transform:translate3d(-210px, 0, 0);-moz-transform:translate3d(-210px, 0, 0);}
nav.mpdNavigation{margin:0;padding:0;margin-top:60px;background:#fff;width:231px;position:absolute;top:0;height:auto;right:-233px;padding-left:0;}
nav.mpdNavigation ul{width:100%;float:left;}
nav.mpdNavigation ul li.open > a{color:#5fb047 !important;}
nav.mpdNavigation ul li{margin:0;height:auto !important;border-bottom:1px solid #E9E9E9;width:100%;text-align:left;background:#fff;padding-left:10px;}
nav.mpdNavigation li.deskHide .basket-count{display:inline;}
nav.mpdNavigation ul li a{color:#5f666c;font-size:16px !important;display:block;transition:none;padding:3px 6px 12px 4px !important;}
nav.mpdNavigation ul li a:hover{text-decoration:underline;color:#5fb047;opacity:1;}
nav.mpdNavigation ul li a .caret{border-top:#5fb047 4px solid;float:none;}
nav.mpdNavigation ul li ul.mega-menu{border:none !important;background:white !important;left:-36px !important;width:209px !important;height:auto !important;top:-15px;float:left;box-shadow:none !important;position:relative !important;margin-bottom:20px !important;}
nav.mpdNavigation ul li ul.mega-menu li{width:100% !important;}
nav.mpdNavigation ul li ul.mega-menu li strong{font-size:14px;font-weight:normal !important;border:none;text-align:left;font-size:14px !important;border-bottom:1px solid #f6f6f6 !important;width:95%;padding:10px 0px 8px 5px !important;display:block;}
nav.mpdNavigation ul li ul.mega-menu li strong:hover{background:none !important;}
nav.mpdNavigation ul li ul.mega-menu li:last-child a{border:none !important;}
nav.mpdNavigation ul ul.mobile-mega-menu span{display:block !important;border-top:4px solid #5fb047 !important;float:right;margin-top:7px;}
nav.mpdNavigation ul ul.mini-menu{border:none !important;background:white !important;width:100px;left:-2px;height:264px;top:-6px;float:left;box-shadow:none !important;position:relative !important;}
nav.mpdNavigation ul ul.mini-menu li{border:none;width:100%;height:36px;border-bottom:1px solid #f6f6f6 !important;}
nav.mpdNavigation ul ul.mini-menu li a{border:none;font-weight:normal;text-align:left;font-size:14px !important;}
nav.mpdNavigation ul ul.mini-menu li a:hover{background:none !important;}
nav.mpdNavigation ul ul.mini-menu li:last-child{border:none !important;}
nav.mpdNavigation ul li ul.sub-sub{width:100%;display:none;}
nav.mpdNavigation ul li ul.sub-sub li{width:100%;PADDING:0PX !important;margin:0px !important;height:auto !important;}
nav.mpdNavigation ul .mob-open > a{color:#5fb047;}
nav.mpdNavigation ul .mob-open > .dropdown-menu, nav.mpdNavigation ul .sub-sub-active{display:block !important;}
nav.mpdNavigation ul li.mob-close-parent > .dropdown-menu{display:none !important;}
nav.mpdNavigation ul ul.sub-sub{width:100px;left:21px;height:auto !important;top:3px;float:left;position:relative !important;margin-bottom:38px !important;}
nav.mpdNavigation ul ul.sub-sub li{border:none;width:100%;height:36px;border-bottom:1px solid #f6f6f6 !important;}
nav.mpdNavigation ul ul.sub-sub li a{border:none;color:#5f666c !important;font-weight:normal;text-align:left;font-size:14px !important;}
nav.mpdNavigation ul ul.sub-sub li a:hover{background:none !important;}
nav.mpdNavigation ul ul.sub-sub li:last-child{border:none !important;}
nav.mpdNavigation ul strong.sub-sub-li-active{color:#5fb047 !important;}
.mobile-current, .sub-nav-active{color:#5fb047 !important;}
}
footer{background:#7b828a;min-height:260px;padding:0;float:left;width:100%;}
footer .footer-dark{background:#60666d;clear:both;}
footer .footer-dark section.footer-featured{padding-bottom:0px;margin-bottom:18px;}
footer .footer-dark section.footer-featured p{float:left;color:#fff;margin:25px 0px 0 0;}
footer .footer-dark section.footer-featured ul#mpd-featured{float:left;margin:0;padding:0;}
footer .footer-dark section.footer-featured ul#mpd-featured li{float:left;list-style:none;}
footer .footer-dark section.footer-featured ul#mpd-featured li img{width:auto;max-height:45px;}
footer section.footer{margin:14px auto 0px auto;}
footer section.footer a{color:#dddddd;text-decoration:none;}
footer section.footer p{color:white;font-size:14px;}
footer section.footer div.mobEmail{margin-bottom:0px;}
footer section.footer div.mobEmail form.email-signup{float:left;padding-left:0px;margin-top:15px;}
footer section.footer div.mobEmail form.email-signup input[type='email']{width:281px;border:none !important;float:left;margin-right:8px;height:31px !important;}
footer section.footer div.mobEmail form.email-signup input[type='button']{float:left;}
footer section.footer div.mobEmail .thankyou-msg{float:left;width:80%;}
@media (max-width:767px){footer section.footer div.mobEmail .thankyou-msg{float:none;margin:0 auto;}
}
footer section.footer div.mobEmail .error-msg{margin-top:3.5em;}
footer section.footer .mpd-social{float:right;margin-top:30px;}
footer section.footer .mpd-social a{margin-left:16px;font-family:mpd-icon;border-radius:999px;padding:2px 7px;font-size:25px;color:#fff;float:left;}
footer section.footer .mpd-social a.fb{background:#3A589B;}
footer section.footer .mpd-social a.fb:before{content:"\e613";}
footer section.footer .mpd-social a.twit{background:#55ACEE;}
footer section.footer .mpd-social a.twit:before{content:"\e612";}
footer section.footer .mpd-social a.linked{background:#1077A9;}
footer section.footer .mpd-social a.linked:before{content:"\e615";}
footer section.footer .mpd-social a.gplus{background:#D93600;}
footer section.footer .mpd-social a.gplus:before{content:"\e614";}
footer section.footer .footer-divide{border-bottom:5px solid #878d94;width:100%;margin:20px 0 30px 0;}
footer section.footer div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;float:left;padding:0px;text-align:left;margin-bottom:8px;}
footer section.footer div header{color:white;font-size:16px;margin-bottom:5px;font-family:montserratregular, Helvetica;text-transform:uppercase;}
footer section.footer div ul{padding:0px;}
footer section.footer div ul li{list-style:none;color:white;padding:0px;}
footer section.footer div ul li a{color:#dddddd;font-size:14px;line-height:200%;position:relative;}
footer section.footer div ul li a span{background:#60666d;text-transform:uppercase;font-size:11px;padding:0px 9px;position:absolute;right:-102px;top:-1px;display:block;line-height:16px;}
footer section.footer div ul li a:hover{text-decoration:underline !important;color:white !important;opacity:1;}
footer .footer-dark{position:relative;min-height:50px;}
footer .footer-dark section.footer-baseline{padding-top:4px;padding-bottom:6px !important;}
footer .footer-dark section.footer-baseline p.footer-text{float:left;display:inline;padding-top:10px;}
footer .footer-dark section.footer-baseline ul.footer-links{padding:0px;float:left;padding-top:13px;}
footer .footer-dark section.footer-baseline ul.footer-links li{float:left;margin-left:5px;color:white;list-style:none;}
footer .footer-dark section.footer-baseline ul.footer-links li a{margin-right:1px;color:white !important;border-left:1px solid #ccc;padding-left:5px;line-height:14px;height:16px;display:block;}
footer .footer-dark section.footer-baseline ul.footer-links li a:hover{text-decoration:underline !important;}
footer .footer-dark section.footer-baseline p.mpd-group{float:left;clear:left;}
footer .footer-dark a#back-top{z-index:0;background:#60666d;border-radius:0px;bottom:112px !important;height:58px;padding-top:8px;right:0px;position:absolute;width:60px;display:block;text-align:center;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;text-decoration:none;font-size:29px;color:white;}
footer .footer-dark a#back-top:before{content:"\e602";font-family:mpd-icon;}
@media only screen and (max-width:6000px){footer ul#mpd-featured li img{margin:14px 0px 0 52px !important;}
/*Retina Footer*/
footer .footer-dark section.footer-featured ul#mpd-featured-ret li{background-size:100%; background-repeat:no-repeat; float:left; list-style:none; margin:14px 0px 0 52px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.money-saving-ret {
  width: 135px;
  height: 45px;
  background-image: url(../media/1779/mse-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.money-saving-ret {
    background-image: url(../media/1778/mse-logo-x2.png);
    -webkit-background-size: 135px 45px;
    -moz-background-size: 135px 45px;
    -o-background-size: 135px 45px;
    background-size: 135px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.daily-mail-ret {
  width: 135px;
  height: 45px;
  background-image: url(../media/1780/daily-mail-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.daily-mail-ret {
    background-image: url(../media/1781/daily-mail-logo-x2.png);
    -webkit-background-size: 135px 45px;
    -moz-background-size: 135px 45px;
    -o-background-size: 135px 45px;
    background-size: 135px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-guardian-ret {
  width: 110px;
  height: 45px;
  background-image: url(../media/1793/guardian-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-guardian-ret {
    background-image: url(../media/1789/guardian-logo-x2.png);
    -webkit-background-size: 110px 45px;
    -moz-background-size: 110px 45px;
    -o-background-size: 110px 45px;
    background-size: 110px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-times-ret {
  width: 135px;
  height: 45px;
  background-image: url(../media/1798/time-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-times-ret {
    background-image: url(../media/1797/time-logo-x2.png);
    -webkit-background-size: 135px 45px;
    -moz-background-size: 135px 45px;
    -o-background-size: 135px 45px;
    background-size: 135px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-telegraph-ret {
  width: 121px;
  height: 45px;
  background-image: url(../media/1795/telegraph-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-telegraph-ret {
    background-image: url(../media/1796/telegraph-logo-x2.png);
    -webkit-background-size: 121px 45px;
    -moz-background-size: 121px 45px;
    -o-background-size: 121px 45px;
    background-size: 121px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.forbes-ret {
  width: 65px;
  height: 45px;
  background-image: url(../media/1790/forbes-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.forbes-ret {
    background-image: url(../media/1791/forbes-logo-x2.png);
    -webkit-background-size: 65px 45px;
    -moz-background-size: 65px 45px;
    -o-background-size: 65px 45px;
    background-size: 65px 45px;
  }
}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.tech-crunch-ret {
  width: 98px;
  height: 45px;
  background-image: url(../media/1792/tech-crunch-logo.png);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.tech-crunch-ret {
    background-image: url(../media/1794/tech-crunch-logo-x2.png);
    -webkit-background-size: 98px 45px;
    -moz-background-size: 98px 45px;
    -o-background-size: 98px 45px;
    background-size: 98px 45px;
  }
}	
}
@media only screen and (max-width:1240px){
footer ul#mpd-featured li img{margin:14px 0px 0 15px !important;}
/*Retina Footer*/
footer .footer-dark section.footer-featured ul#mpd-featured-ret li{margin:14px 16px 0 15px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.money-saving-ret{width:125px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.daily-mail-ret{width:112px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-guardian-ret{width:100px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-times-ret{width:112px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-telegraph-ret{width:100px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.forbes-ret{width:55px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.tech-crunch-ret{width:80px;}
}
@media only screen and (max-width:990px){footer section.footer-featured p{text-align:center;width:100%;}
footer .footer-dark section.footer-featured{margin-bottom:0;}
footer section.footer-featured ul#mpd-featured, footer .footer-dark section.footer-featured ul#mpd-featured-ret{width:100%;text-align:center;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li{margin-top:0; float:none; display:inline-block!important; margin-left:8px!important; margin-right:8px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.money-saving-ret{width:100px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.daily-mail-ret{width:92px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-guardian-ret{width:80px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-times-ret{width:95px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.the-telegraph-ret{width:87px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.forbes-ret{width:48px;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li.tech-crunch-ret{width:75px;}
footer section.footer-featured ul#mpd-featured li{float:none !important;display:inline-block;margin-right:5px !important;}
footer section.footer-featured ul#mpd-featured li img{margin:-3px 0 0 7px !important;}
footer .footer-dark section.footer-featured ul#mpd-featured-ret li{margin-left:6px; margin:6px;}
footer .footer-dark a#back-top{bottom:134px !important;}
footer p.mpd-group{clear:both;width:100%;text-align:center;margin-top:22px;text-align:left;}
footer div header{font-size:13px !important;}
footer .footer-dark section.footer-featured ul#mpd-featured li{/*margin:-3px 0 0 7px !important;*/}
footer .footer-dark section.footer-featured ul#mpd-featured li.money-saving{
margin:-3px 0 0 7px !important;
}
}
@media only screen and (max-width:767px){footer{}
footer section.footer-featured ul#mpd-featured, footer .footer-dark section.footer-featured ul#mpd-featured-ret{padding-left:0;}	
footer .footer-dark section.footer-featured ul#mpd-featured-ret li{margin:0 5px;}
footer section.footer-featured p{margin:12px 0 0 0 !important;}
footer section.footer-featured ul#mpd-featured{width:100%;text-align:center;}
footer section.footer-featured ul#mpd-featured li{float:none !important;display:inline-block;margin-right:5px !important;}
footer section.footer-featured ul#mpd-featured li img{margin:-3px 0 0 7px !important;max-height:25px !important;}
footer section.footer{padding-bottom:0px !important;}
footer section.footer .footer-divide{display:none;}
footer section.footer .footer-block{clear:both;border-top:1px solid #60666d;margin-left:0;padding:16px 17px 0px 17px !important;width:100%;display:block;}
footer section.footer .footer-block header:after{font-family:mpd-icon;content:"\e601";float:right;}
footer section.footer .mobEmail{width:100%;border-bottom:1px solid #60666d;padding-bottom:20px;}
footer section.footer .mobEmail .email-signup{border-bottom:none;padding:0 !important;width:320px;overflow:hidden;margin:6px auto 7px auto !important;float:none !important;}
footer section.footer .mobEmail .email-signup p{font-size:13px;text-align:center;margin-top:14px;}
footer section.footer .mobEmail .email-signup input[type=email]{width:221px !important;margin-left:10px;}
footer section.footer .mpd-social{margin:0px auto 0px auto;clear:both;width:245px;padding:12px 10px 12px 10px;float:none;overflow:hidden;text-align:center;}
footer section.footer .mpd-social a:first-child{margin-left:0px;}
footer section.footer .mpd-social a{margin-right:7px;}
footer section.footer .mpd-social a:last-child{margin-right:0px;}
footer li.money-saving{clear:both;}
footer p.mpd-group{clear:both;width:100%;text-align:left;padding-left:10px;margin-top:22px;}
footer .footer-dark a#back-top{bottom:7px !important;position:absolute;right:14px;}
footer .footer-dark section.footer-baseline{padding:0px !important;}
footer .footer-dark section.footer-baseline p.footer-text{padding-top:2px !important;}
footer .footer-dark section.footer-baseline ul.footer-links{padding:5px 25px 6px 25px !important;border-bottom:1px solid #7b828a;display:table;margin:0 auto;width:100%;text-align:center;}
footer .footer-dark section.footer-baseline ul.footer-links li{float:none;display:inline-block;margin-right:7px;margin-bottom:16px;}
footer .footer-dark section.footer-baseline ul.footer-links li a{border:none !important;text-decoration:underline !important;opacity:0.7;}
footer .footer-dark section.footer-baseline ul.footer-links li:first-child a, footer .footer-dark section.footer-baseline ul.footer-links li:nth-child(3n) a{border:none;}
footer .footer-dark section.footer-baseline ul.footer-links li:nth-child(3n){margin-left:0px !important;}
footer .footer-dark section.footer-baseline ul.footer-links li:nth-child(3n) a{padding-left:0px !important;}
footer .mobFooterUL{float:left;display:block !important;width:100%;transition:0.5s;}
footer .mobFooterActive{color:#fdbd11 !important;}
footer .mobFooterActive:after{color:#fdbd11;}
footer ul.hidden-xs li{line-height:50px;border-bottom:1px solid #60666d;width:100% !important;display:block;}
footer ul.hidden-xs li a{width:100%;display:block;padding:10px 0;font-size:16px !important;color:white !important;}
footer ul.hidden-xs li:last-child{border:none !important;}
}
html{overflow-y:scroll;text-rendering:optimizeLegibility !important;}
body{font-family:Asap-Regular, Arial;margin:0;padding:0;-webkit-font-smoothing:subpixel-antialiased;}
body #container{overflow:hidden;margin:0;padding:0;}
body a{outline:none;color:#4e8a3c;text-decoration:underline;}
body a:hover{opacity:0.9;}
body .btn-primary:hover{opacity:1!important;background:#e15011;}
body a.primaryButtonLarge{background:#ef6224;padding:8px 10px;color:#fff;font-size:14px;border-radius:3px;text-decoration:none;min-width:150px;display:inline-block;text-align:center;text-decoration:none !important;}
body a.primaryButtonLarge:hover{background:#e15011;opacity:1;}
body a.primaryButtonSmall{background:#ef6224;padding:6px 8px;color:#fff;font-size:13px;border-radius:3px;text-decoration:none;min-width:100px;display:inline-block;text-align:center;text-decoration:none !important;}
body a.primaryButtonSmall:hover{background:#e15011;opacity:1;}
body .btn-secondary{background:#ef6224;padding:8px 10px;color:#fff;font-size:14px;border-radius:3px;text-decoration:none;min-width:150px;display:inline-block;text-align:center;text-decoration:none !important;background:#5fb047;}
body .btn-secondary:hover{background:#e15011;opacity:1;}
body .btn-secondary:hover{background:#4e8a3c;}
body .fw{width:100%;display:block;float:left;}
body .fl{float:left;}
body .fr{float:right;}
body .cf{clear:both;}
body .no-mr{margin-right:0px !important;}
body .mpdGreen{color:#5fb047;}
body .mpdRed{color:#db2a31;}
body .mpdYellow{color:#fdbd11;}
body .mpdPurple{color:#564193;}
body .mpdLightBlue{color:#abcbcd;}
body .cf:before, body .cf:after{content:"";display:table;}
body .cf:after, body .clear{clear:both;}
body .cf{zoom:1;}
body input.btn-primary:hover{opacity:1 !important;background:#e15011;}
body section{overflow:hidden;position:relative;margin:0 auto 30px auto;clear:both;overflow:hidden;font-family:Asap-Regular, Arial;min-width:320px !important;padding-bottom:40px;}
body section h1, body section h2, body section h3{font-family:montserratregular, Helvetica;margin:10px auto 2px;color:#44484d;clear:both;text-align:center;text-transform:uppercase;}
body main{clear:both;min-height:500px;}
body div.grey-bg{background-color:#E9E9E9;}
body div.dark-grey-bg{background-color:#5f666e;}
body div.green-bg{background-color:#5fb047;}
body div.box{float:left;}
body #container .input-validation-error{border-color:#db2a31 !important;background:#fadadd;}
body section.restriction-intro span, body section.restriction-table span{display:block;font-size:26px;text-align:center;}
body section.restriction-intro span.restricted, body section.restriction-table span.restricted{font-family:"services-icons";color:#ea8c06;}
body section.restriction-intro span.prohibited, body section.restriction-table span.prohibited{font-family:"track-icon";color:#db2a31;}
body section.restriction-intro{margin-bottom:0;}
body section.restriction-intro span{display:inline;font-size:22px;padding:0 3px;}
body section.restriction-intro h1{padding:30px 0;}
body section.restriction-table{margin-bottom:0;padding-top:50px;}
body section.restriction-table .restrictive-items{margin-top:50px;}
body section.restriction-table .odd{background:#E9E9E9;}
body section.restriction-guidelines{padding-top:10px;}
body section.restriction-guidelines .cta-end{text-align:center;padding:20px 0;clear:both;}
body section.restriction-guidelines .cta-end .primaryButtonSmall{font-size:18px;padding:12px 30px;}
body section.restriction-guidelines h1{padding:30px 0;}
body section.restriction-guidelines .even{background:white;}
body section.restriction-guidelines #max-compensation{margin:20px 0;}
body section.packaging{padding-bottom:0;}
body section.packaging header p{text-align:center;border:0;padding-bottom:0;}
body section.packaging header h1{padding:30px 0;}
body section.packaging .cta-end{text-align:center;padding:20px 0;clear:both;}
body section.packaging .cta-end .primaryButtonSmall{font-size:18px;padding:12px 30px;}
body section.packaging p{margin:0 0 22px;border-bottom:1px solid #ddd;padding-bottom:16px;}
body section.packaging p.noBorder{border:0;}
body section.packaging h2{padding:23px 0 30px 0;margin-top:0;font-size:26px;}
body section.packaging h2.dontHeader, body section.packaging h2.tipsHeader{padding-bottom:10px;margin-bottom:20px;color:#db2a31;}
body section.packaging h2.tipsHeader{color:#5fb047;}
body section.packaging .guideSub{color:#5fb047;font-size:14px;text-transform:uppercase;}
body section.packaging .packaging-list{padding:20px;position:relative;min-height:455px;}
body section.packaging ul{padding:20px;}
body section.packaging ul.dont-list{background:#ffdadb;}
body section.packaging ul.tiplist{background:#b7e5a9;}
body section.packaging ul li{list-style-type:none;clear:both;margin:15px 0;}
body section.packaging ul span{float:left;min-height:42px;padding:3px 10px 0 0;}
body section.packaging ul span.dont-icon{font-family:"track-icon";color:#db2a31;}
body section.packaging ul span.tip-icon{font-family:"contact-icon";color:#5fb047;font-size:18px;padding-top:0;}
body section.packaging ul .last{min-height:101px;}
body section.packaging .guides{margin-top:50px;}
body section.packaging .noPadLeft{padding-left:0;}
body section.packaging .noPadRight{padding-right:0;float:right;}
body .fw.orange-bg{background:#EF6224;}
body section.cp-storeLocator{margin-bottom:0;}
body section.cp-storeLocator h1{padding:30px 0;}
body section.cp-storeLocator p{text-align:center;}
body section.cp-storeLocatorMap{padding:30px 10px 0 10px;}
body section.cp-store-locator-cta{margin-bottom:0;}
body section.cp-store-locator-cta .cta{text-align:center;padding-top:40px;}
body section.cp-store-locator-cta .cta .primaryButtonSmall{padding:10px 50px;font-size:16px;}
body section.blog{padding-bottom:0;margin:0 auto;}
td.heading{color:#fff; background:#525252;}
@media only screen and (max-width:6000px){body .mobShow, body .mobTabShow, body .deskHide{display:none;}
body section{width:1240px;}
body section h1{font-size:30px !important;}
}
@media only screen and (max-width:1240px){body .mobShow, body .mobTabShow, body .deskHide{display:none;}
body section{width:979px;}
body section.packaging header h2{font-size:20px;}
}
@media only screen and (max-width:990px){h2{font-size:20px!important;}
body .mobTabShow{display:block !important;}
body .mobShow , body .deskHide{display:none;}
body section{width:757px;margin:auto;}
body section h1{font-size:20px !important;}
body section.restriction-intro h1, body section.restriction-guidelines h1{font-size:20px !important;}
body section.packaging header h2{font-size:18px;}
body section.packaging .nopadLeft{padding-right:0;}
body section.packaging .noPadRight{padding-left:0;}
body section.packaging .packaging-list{padding:0;}
body section.packaging .guides{padding-top:30px;clear:both;}
}
@media only screen and (max-width:767px){h2{font-size:18px!important;}
body .mobShow, body .mobTabShow, body .deskHide{display:block !important;}
body .mobHide{display:none;}
body .mob-white{background:white !important;}
body section{width:100% !important;min-width:320px !important;}
body section h1{font-size:18px !important;}
body section .mob-me{width:100%;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body section.packaging p, body section.restriction-intro, body section.restriction-guidelines p{padding:0 10px;}
body section.packaging header p{padding-bottom:30px;}
body section.packaging header h2{font-size:18px;}
body section.packaging .packaging-list{padding:10px;}
body section.packaging p{margin:0 10px;padding:0 10px 16px 10px;}
body section.packaging .guideSub{display:inline-block;padding:10px 0;}
body section.packaging .guides{padding-top:0;}
body section.packaging .cta-end{padding-left:10px;padding-right:10px;}
body section.packaging .cta-end .primaryButtonSmall{font-size:14px;width:100%;}
body section.restriction-guidelines{padding:0 10px;}
body section.restriction-guidelines .cta-end .primaryButtonSmall{font-size:14px;width:100%;}
body section.restriction-guidelines ul{padding-left:20px;}
body section.cp-storeLocator{padding-bottom:20px;}
body section.cp-storeLocator p{padding:0 15px;}
body section.cp-store-locator-cta .cta .primaryButtonSmall{font-size:14px;width:100%;margin-top:20px;}
}
#booking-pod-container .input-validation-error{border-color:#db2a31 !important;background:#fadadd;}
section.dpd-locator-intro{margin:0 auto;padding:40px 0;}
section.dpd-locator-intro h1{margin:0;padding-bottom:30px;}
section.dpd-locator-intro p{text-align:center;}
section.dpd-locator-map{margin:0 auto;padding:40px 0;}
section.dpd-locator-map #divLoading{margin:0 auto 40px auto;width:300px;background:#fff;padding:20px;border:1px solid #ddd;}
section.dpd-locator-map #divLoading img{display:block;margin:0 auto;}
section.dpd-locator-map #divLoading h3{color:#5fb047;}
section.dpd-locator-map #outerFrame{width:100%;height:800px;overflow:hidden;position:relative;margin-left:10%;}
section.dpd-locator-map #innerFrame{top:-175px;left:-269px;width:100%;height:920px;position:absolute;border:0;}
section.dpd-locator-map .restrictions p{text-align:center;}
section.dpd-locator-map .restrictions .media-left, section.dpd-locator-map .restrictions .media-body{display:block;}
section.dpd-locator-map .restrictions .media-left{vertical-align:middle;}
section.dpd-locator-map .restrictions .media-left .glyphicon{font-size:60px;padding-right:10px;color:#ACCBCD;}
section.dpd-locator-map .restrictions .media-body{padding-top:5px;vertical-align:top;padding:15px;margin-top:40px;background:#e8f2f1;width:100%;border:1px solid #ACCBCD;margin-top:10px;}
section.dpd-locator-map .media-body ul{padding-left:10px;margin-bottom:0;list-style:none;}
section.dpd-locator-map .media-body ul li{margin:5px 0;}
section.dpd-locator-map .media-body ul li strong{display:block;}
section.dpd-locator-map .media-body ul li span.cap{text-transform:uppercase;display:block;padding-top:8px;}
section.dpd-locator-map .media-body ul li span.cap.first{padding-top:0;}
section.dpd-locator-map .restrictions h2{padding-bottom:30px;}
section.dpd-locator-map .restrictions p{margin-bottom:40px;}
section.dpd-locator-intro .button-holder{margin:0 auto;text-align:center;padding:40px 0;}
section.dpd-locator-intro .button-holder a{font-size:18px;padding:12px 30px;}
@media only screen and (max-width:1240px){section.dpd-locator-map #innerFrame{left:-246px;}
}
@media only screen and (max-width:1240px){section.dpd-locator-map #innerFrame{left:-189px;}
}
@media only screen and (max-width:767px){section.dpd-locator-map #outerFrame{margin-left:0;height:734px;}
section.dpd-locator-map #innerFrame{left:0;height:879px;}
section.dpd-locator-intro .button-holder{padding-left:15px;padding-right:15px;}
section.dpd-locator-intro .button-holder .primaryButtonSmall{width:100%;font-size:16px;}
}
hr.xmas-divide{clear:both;width:90%;color:#eee;margin:0 auto!important;}
section.xmas-hours, div.xmas-hours{margin:0 auto 30px auto;padding:40px 0;}
div.xmas-hours{padding-top:10px;}
section.xmas-hours h2, div.xmas-hours h2{padding:0 0 20px 0;}
div.xmas-hours h2{padding-top:20px;}
section.xmas-hours p, div.xmas-hours p{text-align:center;}
section.xmas-hours table, div.xmas-hours table{width:50%;margin:40px auto 0 auto;background:#f5f5f5;}
section.xmas-hours .closed, div.xmas-hours table .closed{font-weight:bold;color:#db2a31;}
section.xmas-hours table tr:nth-child(odd) td, div.xmas-hours table tr:nth-child(odd) td{background:#fff;}
section.xmas-hours .normal-service, div.xmas-hours .normal-service{padding:15px;margin-top:40px;background:#e8f2f1;border:1px solid #ACCBCD;text-align:center;width:50%;margin-left:auto;margin-right:auto;font-weight:bold;}
@media only screen and (max-width:1240px){div.xmas-hours h2{font-size:20px;}
div.xmas-hours p{width:80%;margin:0 auto;}
div.xmas-hours table, div.xmas-hours .normal-service{width:85%!important;}
}
@media only screen and (max-width:1240px){section.xmas-hours table, section.xmas-hours .normal-service, div.xmas-hours table, div.xmas-hours .normal-service{width:70%;}
}
@media only screen and (max-width:767px){section.xmas-hours, div.xmas-hours{margin-bottom:0;}
section.xmas-hours table, div.xmas-hours table{width:100%!important;}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

body section.restriction-intro span {
  display:inline;
  font-size:22px;
  padding:0 3px;
}
global.css
body section.restriction-intro span.restricted, body section.restriction-table span.restricted {
  color:#EA8C06;
  font-family:services-icons;
}
global.css
body section.restriction-intro span, body section.restriction-table span {
  display:block;
  font-size:26px;
  text-align:center;
}
global.css
[class^="icon-service-"], [class*=" icon-service-"] {
  -webkit-font-smoothing:antialiased;
  font-family:icomoon;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
  speak:none;
  text-transform:none;
}

.restricted {
  width: 30px;
  height: 29px;
  background-image: url(deprixa_components/images/restricted.png);
}