/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* section */
/* retina images */
/* Custom Variables */
.zopim {
    display: none !important;
}
.purple-bg{
	background:#564193;
}
.blue-bg{
	background:#abcbcd;
}
.slant-box-outer{
	margin:30px 0;
}
section.intro{
	margin-bottom:0;
	padding-bottom:0;
}
section.intro .slant-box{
	background:#5fb047;
	padding:20px 20px 10px 20px;
	margin:0;
	width:550px;
}
section.intro.last-xmas-bg .image img{
	margin-top:13px;
}
section.intro .slant-box-outer img.float{
	float:left;
}
section.intro h1{
	text-align:left;
	color:#fff;
	margin:0 0 20px 0;
}
section.intro p{
	color:#fff;
	padding-right:0;
}
section.uk-delivery{
	margin-bottom:0;
}
section.uk-delivery h2{
	font-size:25px;
	padding:30px 0;
}
section.uk-delivery p{
	text-align:center;
	margin-bottom:30px;
}
section.uk-delivery p.easter{
	text-align:center;
	margin-bottom:30px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
section.uk-delivery #uk-dates .odd{
	background:#e9e9e9;
}
section.uk-delivery #uk-dates th{
	background:#5F666E; 
	color:#fff;
	border-bottom:0;
}
section.uk-delivery #uk-dates td img{
	margin-right:10px;
	height:19px;
}
section.uk-delivery .advice-box .pb-helper img{
	position: absolute;
    top: 0;
    right: 10px;
	height:256px;
}
section.uk-delivery .advice-box .advice{
	padding: 15px;
    margin-top: 40px;
    background: #e8f2f1;
    border: 1px solid #ACCBCD;
}
section.uk-delivery .advice-box .advice .media-left, section.uk-delivery .advice-box .advice .media-body{
	display:table-cell;
	vertical-align:top;
}
section.uk-delivery .advice-box .advice .media-left .glyphicon{
	font-size: 30px;
    padding-right: 10px;
    color: #ACCBCD;
}
section.uk-delivery .advice-box .advice .media-body p{
	text-align:left;
	margin-bottom:0;
}
section.international-dates h2{
	font-size:25px;
	padding:30px 0;
}
section.international-dates p{
	text-align:center;
	margin-bottom:30px
}
section.international-dates .dpd-title{
	padding:10px;
	color:#fff;
	background:#db2a30;
}
section.international-dates .parcelforce-title{
	padding:10px;
	color:#fff;
	background:#db2a30;
	margin-top:50px;
}
section.international-dates .int-dates .even{
	background:#fff;
}
section.international-dates .int-dates th{
	background:#5F666E; 
	color:#fff;
	border-bottom:0;
}
section.international-dates .int-dates img{
	height:19px;
	margin-right:10px;
	vertical-align:top;
}
section.international-dates .cta{
	text-align:center;
}
section.international-dates .cta .primaryButtonSmall{
	font-size: 18px;
    padding: 12px 30px;
}
/* DESKTOP */
@media only screen and (max-width: 1240px) {
	section.intro.last-xmas-bg .image img{
		height:268px;
		margin-top:0;
		width:auto;
	}
	section.intro h1{
		margin:0 0 15px 0;
	}
	section.intro p{
		padding-right:0;
	}
	section.intro .slant-box{
		width:500px;
	}
	section.intro .slant-box-outer img{
		width:100%;
	}
	section.intro.last-xmas-bg .image img{
		position:absolute;
		right:0;
		top:62px;
		height:300px;
	}
  
}
/* TABLET */
@media only screen and (max-width: 990px) {
	section.intro.last-xmas-bg .image img{
		margin-top:95px;
		height:206px;
	}
	section.intro .slant-box{
		width:100%;
	}
	section.intro.last-xmas-bg .image img{
		height:250px;		
		top:125px;
		margin-top:0;
	}
	section.uk-delivery p.easter{
		width:80%;
	}
}
/* MOBILE */
@media only screen and (max-width: 767px) {
	section.uk-delivery #uk-dates td img, section.international-dates #int-dates img{
		display:none;
	}
	section.intro h1, section.intro p{
		text-align:center;
	}
	section.intro.last-xmas-bg .image{
		text-align:center;
		float:none;
		margin:0 auto;
		padding-left:0;
		padding-right:0;
	}
	section.intro .slant-box-outer img{
		display:inherit;
	}
	section.intro.last-xmas-bg .image img{
		margin-top:30px;
		height:auto;
		max-width:320px;	
		border:0;
		position:static;
	}
	section.uk-delivery p.easter{
		width:100%;
	}
	section.uk-delivery{
		padding:0 15px;
	}
	section table{
		font-size:12px;
	}
	section.uk-delivery .advice-box img{
		display:none;
	}
	section.uk-delivery .advice-box{
		text-align:center;
	}
	section.uk-delivery .advice-box .advice{
		margin-bottom:20px;
		margin-top:10px;
	}
	section.uk-delivery .advice-box .advice .media-left{
		display:block;
	}
	section.uk-delivery .advice-box .advice .media-body p{
		text-align:center;
	}
	section.uk-delivery .advice-box .advice .media-left .glyphicon{
		font-size:50px;
		padding-bottom:25px;
	}
	section.international-dates{
		padding:0 15px;
		margin-bottom:30px;
	}
	section.international-dates table img{
		display:none;
	}
	section.international-dates .cta{
		padding:0;
	}
	section.international-dates .cta .primaryButtonSmall{
		font-size: 14px;
    	width: 100%;
	}
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
