	/* mpd slider */
	.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}.swiper-slide{float:left;}.swiper-wp8-horizontal{-ms-touch-action:pan-y;}.swiper-wp8-vertical{-ms-touch-action:pan-x;}

	.swiper-container, .swiper-container-2{position:relative; margin:20px auto 10px auto; overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:1;width:100%; max-width:970px; border-radius:5px;}

	.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;}

	.swiper-visible-switch {background:#aaa;}
	.swiper-active-switch {background:#111;}
	.swiper-slide img {width:100%!important}


	/*.arrow-left {background: url(../images/arrows-swiper.png) no-repeat left top;position: absolute;left: 10px;top: 50%;margin-top: -15px;width: 17px;height: 30px; z-index:999}
	.arrow-right {background: url(../images/arrows-swiper.png) no-repeat left bottom;position: absolute;right: 10px;top: 50%;margin-top: -15px;width: 17px;height: 30px; z-index:999}*/

	.pagination {position: absolute;text-align: center;bottom: 9px;z-index: 9999;}
	.swiper-pagination-switch {display: inline-block;width: 12px;height: 12px;border-radius: 10px;background: #999;margin: 0 5px;cursor: pointer;}
	.swiper-active-switch {background: red;}
	
	.caption {position: relative;color: white;bottom: 50px;height: 27px;opacity: 1;padding: 13px;font-size: 18px;display: block;text-decoration:none;}

	.swiper-container, .swiper-container-2 {
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
		/* Fix of Webkit flickering */
		z-index:1;
	}
	.swiper-wrapper {
		position:relative;
		width:100%;
		-webkit-transition-property:-webkit-transform, left, top;
		-webkit-transition-duration:0s;
		-webkit-transform:translate3d(0px,0,0);
		-webkit-transition-timing-function:ease;

		-moz-transition-property:-moz-transform, left, top;
		-moz-transition-duration:0s;
		-moz-transform:translate3d(0px,0,0);
		-moz-transition-timing-function:ease;

		-o-transition-property:-o-transform, left, top;
		-o-transition-duration:0s;
		-o-transform:translate3d(0px,0,0);
		-o-transition-timing-function:ease;
		-o-transform:translate(0px,0px);

		-ms-transition-property:-ms-transform, left, top;
		-ms-transition-duration:0s;
		-ms-transform:translate3d(0px,0,0);
		-ms-transition-timing-function:ease;

		transition-property:transform, left, top;
		transition-duration:0s;
		transform:translate3d(0px,0,0);
		transition-timing-function:ease;
	}
	.swiper-free-mode > .swiper-wrapper {
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
		-o-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		margin: 0 auto;
	}
	.swiper-slide {
		float: left;
	}

	/* IE10 Windows Phone 8 Fixes */
	.swiper-wp8-horizontal {
		-ms-touch-action: pan-y;
	}
	.swiper-wp8-vertical {
		-ms-touch-action: pan-x;
	}