/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* section */
/* retina images */
div.mpHeader {
  border-bottom: none !important; }
  div.mpHeader .quote-link {
    display: none; }

div.main-promo {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: url("../Images/home/promo-bg.gif") repeat-x; }
  div.main-promo section {
    padding-bottom: 0px !important;
    min-height: 233px !important;
    margin-bottom: 0px !important;
    /* booking pod styles */
    /* booking pod */ }
    div.main-promo section h1 {
      text-align: left;
      color: white;
      letter-spacing: -1.5px;
      margin: 50px 0 10px 0;
      padding-left: 0;
      width: 423px;
      text-transform: none;
      font-size: 36px !important; }
    div.main-promo section h1.mpdHeaderMob {
      display: none; }
    div.main-promo section #homeSwipe {
      position: relative; }
    div.main-promo section .slider-hp {
      clear: none;
      width: 50% !important;
      margin-top: 0; }
      div.main-promo section .slider-hp .swiper-container {
        margin: 0;
        height: 216px;
        overflow: hidden;
        margin-left: 30px; }
      div.main-promo section .slider-hp .pagination {
        bottom: 19px;
        position: absolute;
        padding-left: 10px;
        z-index: 9999;
        display: inline-block;
        margin: 0; }
        div.main-promo section .slider-hp .pagination .swiper-pagination-switch {
          background: white; }
          div.main-promo section .slider-hp .pagination .swiper-pagination-switch.swiper-active-switch {
            background: #ef6224; }
      div.main-promo section .slider-hp .swiper-slide {
        padding: 0 15px; }
        div.main-promo section .slider-hp .swiper-slide h1.mpdHeader, div.main-promo section .slider-hp .swiper-slide h2.mpdHeader {
          color: #fff;
          text-transform: none;
          float: left;
          margin: 39px 0 15px 0px !important;
          text-align: left;
          font-size: 26px !important;
          letter-spacing: -2px;
          padding: 0 !important; }
        div.main-promo section .slider-hp .swiper-slide p {
          color: white;
          font-size: 16px;
          clear: both; }
        div.main-promo section .slider-hp .swiper-slide.swiper-slide-active p, div.main-promo section .slider-hp .swiper-slide.swiper-slide-active h1, div.main-promo section .slider-hp .swiper-slide.swiper-slide-active h2 {
          display: block !important; }
    div.main-promo section ul {
      padding-left: 0; }
      div.main-promo section ul li {
        list-style: none;
        color: white;
        line-height: 30px;
        font-family: montserratregular, Helvetica; }
      div.main-promo section ul li:before {
        content: "\e60f";
        font-family: mpd-icon;
        padding-right: 5px;
        opacity: 0.7; }
    div.main-promo section .pb {
      position: absolute; }
      div.main-promo section .pb img {
        max-height: 230px;
        padding-left: 35px;
        padding-right: 0px; }
    div.main-promo section .last-xmas {
      margin-top: 54px; }
      div.main-promo section .last-xmas.ebay {
        margin-top: 84px; }
    div.main-promo section #booking-pod-container {
      float: right;
      width: 427px;
      padding: 0;
      right: 0px;
      z-index: 99;
      position: relative;
      margin-top: 0;
      /* #more-choices:before {font-family:$mpdIcon;  color:#fff;position: absolute;right: -16px;top: 1px;font-size: 13px;}
       a.m-open:before {content: "\e601";}
       a.m-close:before {content: "\e602";}*/ }
      div.main-promo section #booking-pod-container .validation-summary-errors {
        display: none; }
      div.main-promo section #booking-pod-container h4 {
        color: #fff;
        font-size: 20px;
        padding: 25px 0;
        margin-top: 0; }
      div.main-promo section #booking-pod-container .form-inline {
        margin-bottom: 28px; }
      div.main-promo section #booking-pod-container label {
        color: #fff; }
      div.main-promo section #booking-pod-container form .from-country {
        width: auto; }
        div.main-promo section #booking-pod-container form .from-country label {
          float: left;
          padding-top: 9px; }
        div.main-promo section #booking-pod-container form .from-country .frm {
          width: 110px;
          overflow: hidden;
          position: relative; }
          div.main-promo section #booking-pod-container form .from-country .frm #FromCountryRegion {
            width: 135px;
            background: none;
            color: white;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            cursor: pointer; }
          div.main-promo section #booking-pod-container form .from-country .frm option, div.main-promo section #booking-pod-container form .from-country .frm optgroup {
            background: none;
            color: #666; }
          div.main-promo section #booking-pod-container form .from-country .frm #FromCountryRegion::-ms-expand {
            display: none; }
          @media screen and (-webkit-min-device-pixel-ratio: 0) {
            div.main-promo section #booking-pod-container form .from-country .frm #FromCountryRegion {
              padding-right: 18px; } }
        div.main-promo section #booking-pod-container form .from-country .frm:before {
          right: 0;
          top: 7px;
          width: 6px;
          height: 6px;
          content: url("../Images/home/drp-arrow-white.png");
          position: absolute;
          pointer-events: none;
          display: block;
          background: none; }
      div.main-promo section #booking-pod-container form .form-horizontal {
        overflow: hidden;
        margin-bottom: 0;
        background-color: #5f666e;
        border-radius: 0;
        padding: 5px 10px;
        min-height: 444px; }
        div.main-promo section #booking-pod-container form .form-horizontal .text-danger {
          display: none; }
      div.main-promo section #booking-pod-container form div.form-dim-input input[type="text"] {
        width: 22%;
        margin-right: 15px; }
      div.main-promo section #booking-pod-container form div.form-dim-input select {
        width: 21%; }
      div.main-promo section #booking-pod-container form div.form-dim-input #DimensionType {
        background: #eee; }
      div.main-promo section #booking-pod-container form div.form-weight {
        width: 100%;
        margin: 0 0 15px 0 !important; }
        div.main-promo section #booking-pod-container form div.form-weight input[type="number"] {
          width: 22%;
          margin-right: 15px;
          float: left; }
        div.main-promo section #booking-pod-container form div.form-weight select {
          width: 22%;
          float: left;
          text-transform: lowercase; }
        div.main-promo section #booking-pod-container form div.form-weight #weight {
          clear: none;
          border-radius: 3px; }
        div.main-promo section #booking-pod-container form div.form-weight label {
          float: left; }
        div.main-promo section #booking-pod-container form div.form-weight #WeightType {
          background: #eee; }
        div.main-promo section #booking-pod-container form div.form-weight .input-group-addon {
          border: none;
          padding: 6px 8px; }
      div.main-promo section #booking-pod-container form .form-control {
        padding: 6px 6px !important;
        height: 37px;
        box-shadow: none !important; }
      div.main-promo section #booking-pod-container form #ToPostcode_Postcode::-webkit-input-placeholder, div.main-promo section #booking-pod-container form #FromPostcode_Postcode::-webkit-input-placeholder {
        color: #c2c2c2;
        opacity: 1.0; }
      div.main-promo section #booking-pod-container form #ToPostcode_Postcode:-moz-placeholder, div.main-promo section #booking-pod-container form #FromPostcode_Postcode:-moz-placeholder {
        color: #c2c2c2;
        opacity: 1.0; }
      div.main-promo section #booking-pod-container form #ToPostcode_Postcode::-moz-placeholder, div.main-promo section #booking-pod-container form #FromPostcode_Postcode::-moz-placeholder {
        color: #c2c2c2;
        opacity: 1.0; }
      div.main-promo section #booking-pod-container form #ToPostcode_Postcode:-ms-input-placeholder, div.main-promo section #booking-pod-container form #FromPostcode_Postcode:-ms-input-placeholder {
        color: #c2c2c2;
        opacity: 1.0; }
      div.main-promo section #booking-pod-container form #ToCountryRegion {
        border-right: 1px solid #d8d8d8; }
      div.main-promo section #booking-pod-container form .form-control:focus {
        border-color: #5fb047 !important; }
      div.main-promo section #booking-pod-container form .input-validation-error:focus {
        border-color: #db2a31 !important; }
      div.main-promo section #booking-pod-container form .form-weight {
        float: left;
        width: 120px; }
      div.main-promo section #booking-pod-container form .form-group {
        margin: 0 0 15px 0 !important; }
      div.main-promo section #booking-pod-container form #FromPostcode, div.main-promo section #booking-pod-container form #ToPostcode {
        width: 92px; }
      div.main-promo section #booking-pod-container form .icon-help19 {
        font-family: mpd-icon;
        font-size: 16px !important;
        color: #fff;
        margin-left: 6px;
        position: relative;
        top: 2px; }
      div.main-promo section #booking-pod-container form .btn-primary {
        width: 250px;
        padding: 6px 12px 7px 12px;
        /*box-shadow: 0px 1px 6px #333;*/
        font-size: 17px;
        opacity: 1 !important;
        margin-top: 0; }
      div.main-promo section #booking-pod-container a, div.main-promo section #booking-pod-container #more-choices {
        color: white !important;
        position: relative; }
      div.main-promo section #booking-pod-container .pod-icon {
        font-family: mpd-icon;
        color: #fff;
        vertical-align: middle;
        padding-left: 5px; }
      div.main-promo section #booking-pod-container .pb {
        position: absolute;
        bottom: 60px;
        transition: 0.5s;
        left: -214px; }
        div.main-promo section #booking-pod-container .pb img {
          width: 210px; }
      div.main-promo section #booking-pod-container #more-choices-container {
        float: left; }
        div.main-promo section #booking-pod-container #more-choices-container h4 {
          font-size: 15px !important;
          border-bottom: 1px solid #bbb;
          margin-bottom: 6px; }
        div.main-promo section #booking-pod-container #more-choices-container div.col-md-12 {
          padding: 0px !important; }
        div.main-promo section #booking-pod-container #more-choices-container .form-group {
          color: #fff;
          float: left;
          width: 25% !important; }
        div.main-promo section #booking-pod-container #more-choices-container .service-attributes .form-group {
          width: 50% !important; }
        div.main-promo section #booking-pod-container #more-choices-container input[type="checkbox"] {
          position: relative;
          bottom: -6px; }
      div.main-promo section #booking-pod-container .multi-parcel-link {
        padding-top: 6px; }
      div.main-promo section #booking-pod-container .validation-summary-errors ul li {
        display: none; }
      div.main-promo section #booking-pod-container input[type=number]::-webkit-outer-spin-button,
      div.main-promo section #booking-pod-container input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      div.main-promo section #booking-pod-container input[type=number] {
        -moz-appearance: textfield; }
    div.main-promo section .tp-new {
      padding: 0;
      width: 250px;
      margin-top: 27px; }
      div.main-promo section .tp-new .tp-top {
        background: white;
        overflow: hidden;
        padding: 8px 10px; }
        div.main-promo section .tp-new .tp-top .tp-new-logo {
          max-width: 227px; }
      div.main-promo section .tp-new .tp-bottom {
        padding: 4px 10px;
        overflow: hidden;
        background: #eee; }
        div.main-promo section .tp-new .tp-bottom .tp-score-rating {
          padding: 8px 0 0 0 !important; }
        div.main-promo section .tp-new .tp-bottom .tp-stars {
          float: left;
          padding-left: 0;
          margin-top: 10px;
          margin-left: 15px; }

section.mpd-couriers {
  margin-bottom: 0px;
  padding: 0 0 40px 0;
  overflow: hidden; }
  section.mpd-couriers ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0;
    text-align: right; }
    section.mpd-couriers ul li {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0; }
      section.mpd-couriers ul li img {
        max-height: 55px;
        opacity: 1;
        margin: 20px;
        margin-left: 0;
        margin-right: 43px; }
    section.mpd-couriers ul li:last-child img {
      margin-right: 0px !important; }

.tp-new {
  padding-top: 36px;
  MARGIN: 10PX AUTO 0 AUTO;
  FLOAT: NONE;
  DISPLAY: inline-block;
  CLEAR: BOTH;
  width: 472px; }
  .tp-new .tp-new-logo {
    max-width: 195px;
    float: left; }
  .tp-new .tp-score-rating {
    float: left;
    font-family: montserratregular, Helvetica, Arial;
    color: #4e4e4e;
    padding: 0 16px; }
    .tp-new .tp-score-rating .tp-score {
      display: block;
      line-height: 9px; }
  .tp-new .tp-stars {
    width: 130px; }

.grey-bg .box div {
  background: white; }

.why-choose-mob {
  display: none; }

section.mpd-goods .box h3 {
  font-size: 16px; }
section.mpd-goods .box.europe-delivery-box ul {
  margin-right: 28px; }
section.mpd-goods img {
  max-height: 107px;
  margin-right: 10px;
  float: left; }
section.mpd-goods .mpd-goods-rightCol, section.mpd-goods .newsBlogRightCol {
  float: left;
  /* clear: both; */
  width: 70%;
  padding: 0;
  min-height: 0 !important; }
  section.mpd-goods .mpd-goods-rightCol h3, section.mpd-goods .newsBlogRightCol h3 {
    font-size: 16px;
    float: left;
    width: 100% !important;
    text-align: left;
    margin-top: 0px;
    clear: none !important;
    margin-bottom: 4px; }
  section.mpd-goods .mpd-goods-rightCol p, section.mpd-goods .newsBlogRightCol p {
    text-align: left; }
  section.mpd-goods .mpd-goods-rightCol a.primaryButtonSmall, section.mpd-goods .newsBlogRightCol a.primaryButtonSmall {
    float: left; }
section.mpd-goods .mpd-goods-rightCol ul {
  float: left;
  list-style: none;
  max-width: 199px;
  text-align: left;
  padding-left: 0;
  margin-right: 10px; }
  section.mpd-goods .mpd-goods-rightCol ul li {
    margin: 3px 0; }

section.mpd-stats div.mini-stat span {
  font-size: 46px;
  line-height: 52px; }
section.mpd-stats div.mini-stat p.mpdGreen, section.mpd-stats div.mini-stat p.mpdYellow, section.mpd-stats div.mini-stat p.mpdPurple {
  font-size: 32px; }
section.mpd-stats div.mini-stat p {
  font-size: 13px;
  height: auto !important;
  min-height: 20px !important;
  margin: 0px !important; }
section.mpd-stats .hp-trust-pilot {
  float: left;
  text-align: center;
  margin-top: 15px;
  border-radius: 3px !important; }
  section.mpd-stats .hp-trust-pilot img {
    margin: auto;
    height: 20px; }
  section.mpd-stats .hp-trust-pilot span.tp-score {
    margin-left: 10px;
    font-size: 24px;
    position: relative;
    top: 4px; }
  section.mpd-stats .hp-trust-pilot .swiper-container {
    overflow: hidden; }
    section.mpd-stats .hp-trust-pilot .swiper-container .pagination {
      bottom: -25px !important;
      right: 0px;
      margin: 21px 0 !important; }
      section.mpd-stats .hp-trust-pilot .swiper-container .pagination .swiper-active-switch {
        background: #5fb047; }
    section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide {
      min-height: 140px !important; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide h4 {
        float: left; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide img {
        width: auto !important;
        float: left;
        height: 15px;
        margin-right: 12px;
        margin-top: 12px; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide p.tp-review {
        clear: both;
        text-align: left;
        margin: 10px 0;
        float: left;
        padding: 10px;
        background: #e9e9e9;
        min-height: 79px;
        width: 100%; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide p.fl {
        color: #666;
        clear: both; }

section .box div {
  transition: 0.5s; }
section h2 {
  font-size: 25px;
  padding: 30px 0 10px 0; }
section p.welcome-text {
  text-align: center;
  margin-bottom: 24px;
  font-size: 15px;
  min-height: 30px !important; }
section .box-marg {
  margin: 0 19px; }

section.mpd-about {
  margin-bottom: 0px; }
  section.mpd-about img {
    max-height: 42px; }
  section.mpd-about h3 {
    text-align: left;
    font-size: 18px;
    margin: 14px 0;
    text-transform: none; }
  section.mpd-about div p {
    min-height: 40px; }

/* WIDE */
@media only screen and (max-width: 6000px) {
  .main-promo ul li {
    font-size: 17px; }

  #booking-pod-container {
    width: 530px !important; }
    #booking-pod-container .pb {
      left: -105px; }
    #booking-pod-container .form-to, #booking-pod-container .form-from {
      width: 335px !important;
      border-radius: 3px; }
      #booking-pod-container .form-to select, #booking-pod-container .form-from select {
        background: white !important; }
    #booking-pod-container .form-from-postcode, #booking-pod-container .form-to-postcode {
      width: 32% !important;
      border-radius: 3px; }
    #booking-pod-container #FromPostcode, #booking-pod-container #ToPostcode {
      width: 163px !important; }

  .form-dimensions input {
    float: left;
    width: 24% !important;
    margin-right: 10px !important; }
  .form-dimensions .tooltip-inner {
    width: 270px;
    height: 217px;
    background: url("../Images/home/dimensions.jpg"); }

  .welcome-text {
    width: 80%;
    margin: auto; }

  section .box div {
    min-height: 138px !important; } }
/* DESKTOP */
@media only screen and (max-width: 1240px) {
  div.main-promo ul li {
    font-size: 13px; }
  div.main-promo section .slider-hp .swiper-container {
    margin-left: 0; }
  div.main-promo section .slider-hp .pagination {
    bottom: 5px; }
  div.main-promo section .slider-hp .swiper-slide h1.mpdHeader, div.main-promo section .slider-hp .swiper-slide h2.mpdHeader {
    margin-top: 41px !important; }
  div.main-promo section .tp-new {
    margin-top: 54px; }
  div.main-promo section #booking-pod-container {
    width: 427px !important;
    margin-top: 0; }
    div.main-promo section #booking-pod-container .pb {
      left: -185px;
      bottom: 35px; }
      div.main-promo section #booking-pod-container .pb img {
        width: 180px; }
    div.main-promo section #booking-pod-container .form-to, div.main-promo section #booking-pod-container .form-from {
      width: 299px !important; }
    div.main-promo section #booking-pod-container #FromPostcode, div.main-promo section #booking-pod-container #ToPostcode {
      width: 92px !important; }
    div.main-promo section #booking-pod-container .form-from-postcode, div.main-promo section #booking-pod-container .form-to-postcode {
      width: 24% !important; }
    div.main-promo section #booking-pod-container form .form-horizontal {
      min-height: 430px; }
    div.main-promo section #booking-pod-container form div.form-weight {
      margin-right: 0 !important; }
    div.main-promo section #booking-pod-container form div.form-dim-input select {
      width: 82px !important; }
    div.main-promo section #booking-pod-container form .btn-primary {
      float: right;
      clear: none;
      margin-top: 0;
      margin-bottom: 10px;
      width: 198px; }
    div.main-promo section #booking-pod-container .multi-parcel-link {
      padding-top: 0; }
  div.main-promo section .promo-left {
    width: 500px; }
    div.main-promo section .promo-left h1 {
      margin-top: 35px;
      font-size: 30px !important; }

  section.mpd-couriers ul {
    text-align: center; }
  section.mpd-couriers .tp-new {
    padding-top: 0; }
    section.mpd-couriers .tp-new .tp-new-logo {
      max-width: 140px;
      margin-top: 14px; }
    section.mpd-couriers .tp-new .tp-score-rating {
      margin-top: 7px; }
    section.mpd-couriers .tp-new .tp-stars {
      width: 100px;
      margin-top: 12px; }
  section.mpd-couriers ul {
    padding-top: 7px; }
    section.mpd-couriers ul li img {
      max-height: 50px;
      margin-right: 19px; }

  .welcome-text {
    width: 100% !important; }

  section.mpd-booking .box p {
    min-height: 80px !important; }

  section.mpd-goods .box.europe-delivery-box .mpd-goods-rightCol {
    width: 100%; }
  section.mpd-goods .box.europe-delivery-box ul {
    margin-right: 50px; }
  section.mpd-goods .box.international-delivery-box .mpd-goods-rightCol {
    width: 100%; }
  section.mpd-goods .box.international-delivery-box ul {
    margin-right: 35px; }
  section.mpd-goods .mpd-goods-rightCol, section.mpd-goods .newsBlogRightCol {
    width: 60%; }
    section.mpd-goods .mpd-goods-rightCol h3, section.mpd-goods .newsBlogRightCol h3 {
      font-size: 14px; }

  section.why-choose .box h3 {
    min-height: 36px !important; }
  section.why-choose .box p {
    min-height: 100px !important; }

  section.mpd-about div p {
    min-height: 60px !important; } }
/* TABLET */
@media only screen and (max-width: 990px) {
  div.main-promo section h1 {
    font-size: 26px !important;
    width: 300px; }
  div.main-promo section .slider-hp .pagination {
    bottom: 0; }
  div.main-promo section .slider-hp .swiper-slide p {
    font-size: 14px; }
  div.main-promo section .slider-hp .swiper-slide h2.mpdHeader, div.main-promo section .slider-hp .swiper-slide h1.mpdHeader {
    width: 90%;
    margin-top: 34px !important; }
  div.main-promo section #booking-pod-container {
    margin-top: 0;
    padding-top: 0;
    width: 427px !important; }
    div.main-promo section #booking-pod-container .pb {
      left: -71px !important;
      bottom: -49px !important;
      display: none; }
      div.main-promo section #booking-pod-container .pb img {
        width: 96px; }
    div.main-promo section #booking-pod-container form div.form-weight {
      clear: both;
      margin: 0 !important;
      width: 100%; }
    div.main-promo section #booking-pod-container form .btn-primary {
      margin-left: 0;
      margin-top: 0; }
    div.main-promo section #booking-pod-container .multi-parcel-link {
      padding: 10px 0; }
  div.main-promo section .promo-left {
    padding-left: 0;
    width: 43% !important; }
    div.main-promo section .promo-left h1 {
      margin-top: 71px;
      font-size: 25px !important; }
  div.main-promo section .tp-new {
    margin-top: 48px; }

  section.why-choose .box h3 {
    min-height: 40px; }
  section.why-choose .box p {
    min-height: 142px !important; }

  section.mpd-booking .box h3 {
    min-height: 40px !important; }
  section.mpd-booking .box p {
    min-height: 100px !important; }

  section.mpd-about h3 {
    font-size: 15px; }
  section.mpd-about img {
    max-height: 28px;
    border-radius: 3px; }
  section.mpd-about div p {
    min-height: 80px !important; }

  section.mpd-couriers {
    padding-top: 0;
    padding-bottom: 20px; }
    section.mpd-couriers .tp-new {
      width: 100%;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 4px;
      margin-top: 49px; }
      section.mpd-couriers .tp-new .tp-score-rating {
        margin-top: 0;
        float: none;
        display: inline-block;
        text-align: left; }
      section.mpd-couriers .tp-new .tp-new-logo {
        max-width: 175px;
        margin-top: 0;
        display: inline-block;
        float: none;
        vertical-align: top; }
      section.mpd-couriers .tp-new .tp-stars {
        width: 143px;
        margin-top: 0;
        display: inline-block;
        float: none;
        vertical-align: top; }
    section.mpd-couriers .tp-score-rating {
      margin-top: 7px; }
    section.mpd-couriers ul {
      text-align: center;
      padding-top: 0;
      width: 100%; }
      section.mpd-couriers ul li img {
        height: 40px !important;
        margin-top: 6px;
        max-height: 40px;
        margin-right: 9px; }

  div.main-promo {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    div.main-promo section .pb {
      width: 114px !important;
      height: 212px !important;
      bottom: -83px !important;
      left: -153px !important;
      background-size: 157px !important;
      background-repeat: no-repeat !important; }
    div.main-promo section .promo-trust-pilot {
      height: 70px !important; }
      div.main-promo section .promo-trust-pilot span {
        font-size: 12px !important;
        right: 55px !important;
        bottom: 15px !important; }
    div.main-promo section ul li {
      font-size: 12px !important;
      height: 33px !important; }
    div.main-promo section #booking-pod-container .form-dimensions {
      width: 100% !important; }
      div.main-promo section #booking-pod-container .form-dimensions input {
        float: left !important; }

  section.mpd-goods .box.europe-delivery-box ul {
    margin-right: 19px; }
  section.mpd-goods .box.international-delivery-box ul {
    margin-right: 16px; }
  section.mpd-goods .mpd-goods-rightCol, section.mpd-goods .newsBlogRightCol {
    width: 100%;
    float: none;
    text-align: center; }
    section.mpd-goods .mpd-goods-rightCol p, section.mpd-goods .newsBlogRightCol p {
      min-height: 60px !important;
      text-align: center; }
    section.mpd-goods .mpd-goods-rightCol h3, section.mpd-goods .mpd-goods-rightCol p, section.mpd-goods .newsBlogRightCol h3, section.mpd-goods .newsBlogRightCol p {
      width: 100% !important;
      text-align: center;
      clear: both; }
    section.mpd-goods .mpd-goods-rightCol a, section.mpd-goods .newsBlogRightCol a {
      float: none !important; }
  section.mpd-goods img {
    margin: 20px auto 15px auto;
    float: none; }
  section.mpd-goods ul {
    font-size: 12px; }

  section.mpd-goods .box div {
    min-height: 119px !important; } }
/* MOBILE */
@media only screen and (max-width: 767px) {
  div.main-promo section .promo-left {
    width: 100% !important;
    min-height: 79px;
    background: #fff; }
    div.main-promo section .promo-left h1 {
      text-transform: none;
      font-size: 22px !important;
      background: white;
      letter-spacing: -2px;
      min-height: 79px;
      color: #666666 !important;
      margin: 0px !important;
      width: 100% !important;
      text-align: left;
      padding: 17px 50px 14px 85px; }
    div.main-promo section .promo-left ul, div.main-promo section .promo-left .promo-trust-pilot {
      display: none; }
    div.main-promo section .promo-left .tp-new {
      display: none; }
  div.main-promo section {
    background: none;
    /* booking pod */ }
    div.main-promo section h1.mpdHeaderMob {
      text-transform: none;
      font-size: 22px !important;
      background: white;
      letter-spacing: -2px;
      min-height: 79px;
      color: #666666 !important;
      margin: 0px !important;
      width: 100% !important;
      display: block !important;
      text-align: left;
      padding: 17px 50px 14px 85px; }
    div.main-promo section form {
      max-width: 400px !important;
      margin: auto !important; }
    div.main-promo section #booking-pod-container {
      width: 100% !important;
      padding: 0;
      background: #5f666e; }
      div.main-promo section #booking-pod-container h4 {
        padding: 0px 0 3px 0 !important;
        margin: 10px 0; }
      div.main-promo section #booking-pod-container .form-to, div.main-promo section #booking-pod-container .form-from {
        width: 73% !important; }
      div.main-promo section #booking-pod-container .form-dimensions {
        width: 100%; }
        div.main-promo section #booking-pod-container .form-dimensions input {
          float: left;
          width: 22% !important;
          margin-right: 10px !important; }
      div.main-promo section #booking-pod-container div.form-weight {
        width: 100% !important; }
        div.main-promo section #booking-pod-container div.form-weight input[type="number"] {
          width: 22% !important;
          margin-right: 10px !important; }
        div.main-promo section #booking-pod-container div.form-weight select {
          width: 15% !important; }
        div.main-promo section #booking-pod-container div.form-weight #WeightType {
          width: 60px !important; }
      div.main-promo section #booking-pod-container #DimensionType {
        width: 22% !important; }
      div.main-promo section #booking-pod-container .btn-primary {
        width: 48% !important; }
      div.main-promo section #booking-pod-container .form-to, div.main-promo section #booking-pod-container .form-from {
        width: 66% !important; }
      div.main-promo section #booking-pod-container a {
        float: left !important;
        margin-top: 10px;
        clear: both; }
      div.main-promo section #booking-pod-container .pb {
        top: -76px !important;
        left: -4px !important;
        background-size: 87px !important;
        background-repeat: no-repeat;
        height: 76px !important;
        background: url("../Images/home/pb.png") no-repeat;
        display: block !important; }
      div.main-promo section #booking-pod-container .form-from-postcode, div.main-promo section #booking-pod-container .form-to-postcode {
        width: 30% !important; }
      div.main-promo section #booking-pod-container #more-choices-container .form-group {
        width: 33% !important; }
      div.main-promo section #booking-pod-container .pod-icon {
        display: inline-block;
        padding-top: 15px;
        vertical-align: middle; }
      div.main-promo section #booking-pod-container form .form-horizontal {
        padding-top: 30px;
        min-height: 383px !important; }
      div.main-promo section #booking-pod-container form .btn-primary {
        margin-left: 0;
        float: right;
        width: 55%; }
      div.main-promo section #booking-pod-container form .form-weight select {
        width: 100% !important; }

  section h2 {
    font-size: 20px !important; }

  .welcome-text {
    padding: 5px 15px; }

  section.mpd-couriers {
    padding: 0 0 40px 0 !important; }
    section.mpd-couriers ul {
      text-align: center; }
      section.mpd-couriers ul li {
        float: none !important;
        display: inline-block;
        text-align: center; }
        section.mpd-couriers ul li img {
          margin-right: 10px;
          height: 30px !important;
          margin-bottom: 4px !important;
          margin-top: 4px; }
      section.mpd-couriers ul li:first-child {
        margin-left: 3px !important; }

  section.mpd-goods {
    padding-bottom: 0; }
    section.mpd-goods .box div {
      min-height: 0 !important; }
    section.mpd-goods p {
      min-height: 43px !important; }
    section.mpd-goods h3, section.mpd-goods p {
      width: 100% !important;
      text-align: center;
      clear: both; }
    section.mpd-goods a {
      float: none !important; }
    section.mpd-goods img {
      margin: 20px auto 15px auto;
      float: none;
      max-height: 500px;
      max-width: 300px;
      width: 60%; }
    section.mpd-goods .swiper-slide img {
      width: auto !important; }
    section.mpd-goods .mpd-sash-yellow-small {
      top: -24px !important; }

  section.why-choose .box div {
    height: 360px; }
  section.why-choose .box h3 {
    min-height: 36px !important; }
  section.why-choose .box p {
    min-height: 100px !important;
    font-size: 14px !important;
    color: #666;
    font-family: asap, arial;
    line-height: 1.428571429; }
  section.why-choose .box .primaryButtonLarge {
    font-family: asap, arial;
    line-height: 1.428571429; }

  section.mpd-stats {
    background: #e9e9e9; }
    section.mpd-stats div.mini-stat {
      background: #fff;
      min-height: 85px !important;
      margin: 10px 0; }
      section.mpd-stats div.mini-stat span {
        float: left; }
      section.mpd-stats div.mini-stat p {
        float: left;
        padding-top: 15px;
        margin-left: 20px !important; }
      section.mpd-stats div.mini-stat p.mpdGreen, section.mpd-stats div.mini-stat p.mpdYellow, section.mpd-stats div.mini-stat p.mpdPurple {
        font-size: 24px !important;
        float: left;
        margin-left: 10px !important;
        MARGIN-TOP: 9PX !important;
        padding: 0px !important; }
    section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide {
      padding: 0 20px !important; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide h4 {
        text-align: center;
        width: 100%;
        clear: both;
        min-height: 40px; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide p.fl {
        float: none;
        clear: both; }
      section.mpd-stats .hp-trust-pilot .swiper-container .swiper-slide img {
        float: none; }
    section.mpd-stats .hp-trust-pilot .swiper-container .tp-review {
      background: white !important; }
    section.mpd-stats .hp-trust-pilot .swiper-container .pagination {
      bottom: -52px !important; }

  section.mpd-about div p {
    min-height: 10px !important; }
  section.mpd-about .col-xs-12 {
    margin-bottom: 48px;
    padding: 0 48px;
    text-align: center; }
    section.mpd-about .col-xs-12 img {
      max-height: 42px !important; }
    section.mpd-about .col-xs-12 h3 {
      text-align: center; }

  .swiper-container, .swiper-container-2 {
    max-width: 320px !important;
    overflow: visible !important; }
    .swiper-container .pagination, .swiper-container-2 .pagination {
      position: absolute;
      text-align: center;
      bottom: -50px;
      z-index: 9999;
      left: 0 !important;
      right: 0 !important; }
      .swiper-container .pagination .swiper-active-switch, .swiper-container-2 .pagination .swiper-active-switch {
        background: #5fb047; }

  .why-choose-mob {
    display: block !important;
    margin-top: 0px !important; }
    .why-choose-mob div.mob {
      background: #e9e9e9; }

  section.bestratepods {
    padding: 0; }
    section.bestratepods p {
      padding: 0 15px; } }

