/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* section */
/* retina images */
section.login {
  padding-top: 79px; }
  section.login h2 {
    margin: 1em 0 .5em 0; }
  section.login .col-md-12.well {
    min-height: 14.5em; }
    @media (min-width: 767px) and (max-width: 990px) {
      section.login .col-md-12.well {
        min-height: 18.5em; } }
  section.login .col-md-12 p {
    font-size: 15px;
    font-weight: bold; }
  section.login .signup-col .btn-primary, section.login loggedout-col .btn-primary {
    min-width: 100px !important; }
    @media (min-width: 767px) and (max-width: 990px) {
      section.login .signup-col .btn-primary, section.login loggedout-col .btn-primary {
        margin-top: 35px; } }
  @media (max-width: 990px) {
    section.login .signup-col .col-md-12.well, section.login loggedout-col .col-md-12.well {
      padding-left: 0;
      padding-right: 0; } }
  section.login .form-group label {
    text-align: left;
    font-weight: normal; }
  section.login .login-col .form-group:last-child {
    margin-top: 2em; }
  section.login .login-col .form-horizontal {
    margin-top: .5em; }
  section.login .login-col .btn-primary {
    min-width: 100px !important; }
  section.login .validation-summary-errors ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1em; }
    section.login .validation-summary-errors ul li {
      list-style: none;
      line-height: 1.75em;
      text-align: center; }
  section.login ul.signup-benefits {
    margin: 0;
    padding: 0;
    margin-bottom: 7px; }
    section.login ul.signup-benefits li:before {
      font-family: mpd-icon;
      content: "\e60f";
      color: #5FB047;
      padding-right: 5px;
      line-height: 27px; }
    section.login ul.signup-benefits li {
      list-style: none;
      font-size: 15px; }
  @media (max-width: 767px) {
    section.login .loggedout-col .col-md-12.well {
      min-height: 6em; } }
  section.login .loggedout-col .logged-out-msg {
    text-align: center;
    margin-top: 1em; }
  section.login .forgotpass-col p {
    text-align: center;
    margin: 1em 0;
    padding-bottom: 1em; }
  section.login .forgotpass-col .col-md-12.well {
    min-height: 5em; }
  section.login .forgotpass-col form {
    margin: 1em 0; }
  section.login .forgotpass-col label {
    text-align: right; }
  @media (max-width: 767px) {
    section.login .forgotpass-col .form-control {
      margin: .5em 0 1em 0; } }
  section.login .forgotpass-col .btn-primary {
    min-width: 100px !important; }
    @media (max-width: 767px) {
      section.login .forgotpass-col .btn-primary {
        float: right; } }
  section.login .forgotpass-col .col-sm-6 + .col-sm-2 {
    padding-left: 0; }

/* WIDE SCREEN */
/* DESKTOP */
/* TABLET */
@media only screen and (max-width: 990px) {
  section.login {
    padding-top: 0px !important; }

  section.login ul.signup-benefits li {
    font-size: 13px; } }
/* MOBILE */
@media only screen and (max-width: 767px) {
  section.login {
    padding-top: 0px !important; }
    section.login .col-md-offset-1 {
      margin-bottom: 20px; }
    section.login .btn-primary {
      width: 100% !important;
      margin-top: 29px;
      padding: 12px; }
    section.login label {
      margin-bottom: 4px !important; }
    section.login .form-group {
      margin-bottom: 0px !important; }
    section.login ul.signup-benefits {
      margin: 0;
      padding: 0; }
      section.login ul.signup-benefits li:before {
        font-family: mpd-icon;
        content: "\e60f";
        color: #5FB047;
        padding-right: 5px;
        line-height: 18px;
        float: left; }
      section.login ul.signup-benefits li {
        list-style: none;
        font-size: 12px;
        float: left;
        margin-bottom: 18px; } }

/*# sourceMappingURL=login.css.map */
