/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* section */
/* retina images */
.remove-btn {
  display: none; }

#booking-parcels .parcel-quantity {
  padding-left: 0px; }

.multiple-parcel-form-wrapper {
  background: #5FB047; }

.multiple-parcel-form {
  padding: 0;
  margin-bottom: 0; }

#multi-book-form-container {
  background: #4b5258;
  color: #fff;
  padding: 15px; }
  #multi-book-form-container h4 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: .5em 0 1em 0;
    text-align: center; }
  #multi-book-form-container p {
    width: 60%;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    float: none;
    margin: auto; }
    #multi-book-form-container p a {
      color: #fff; }
  #multi-book-form-container label {
    text-align: left; }
  #multi-book-form-container .checkbox input[type="checkbox"] {
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 3px;
    margin-left: 19px; }
  #multi-book-form-container #booking-locations {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 2em; }
    #multi-book-form-container #booking-locations .location-group {
      padding: 0;
      margin-top: 10px; }
      #multi-book-form-container #booking-locations .location-group .form-group div {
        padding-left: 0; }
      @media (max-width: 767px) {
        #multi-book-form-container #booking-locations .location-group select {
          margin-bottom: .5em; } }
      #multi-book-form-container #booking-locations .location-group input[type="text"] {
        padding: 6px 10px; }
  #multi-book-form-container #booking-parcels {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: .5em;
    margin-bottom: .5em; }
    #multi-book-form-container #booking-parcels h4 {
      margin-bottom: 1em; }
    @media (max-width: 990px) {
      #multi-book-form-container #booking-parcels .control-label {
        margin-bottom: .33em; } }
  #multi-book-form-container .parcel-quantity-group {
    padding: 0; }
    #multi-book-form-container .parcel-quantity-group .control-label {
      min-width: 8em; }
    #multi-book-form-container .parcel-quantity-group .form-control {
      margin-left: 5px;
      min-width: 5em; }
  #multi-book-form-container .parcel-specs {
    padding: 0 15px; }
    #multi-book-form-container .parcel-specs input {
      margin-right: .5em; }
    #multi-book-form-container .parcel-specs.dimensions {
      padding: 0; }
      @media (max-width: 990px) {
        #multi-book-form-container .parcel-specs.dimensions .control-label {
          width: 100%; } }
      @media (min-width: 990px) {
        #multi-book-form-container .parcel-specs.dimensions .control-label {
          margin-right: -6px; } }
      @media (min-width: 1240px) {
        #multi-book-form-container .parcel-specs.dimensions .control-label {
          margin-right: -22px; } }
      #multi-book-form-container .parcel-specs.dimensions input {
        display: inline-block; }
        @media (min-width: 990px) {
          #multi-book-form-container .parcel-specs.dimensions input {
            width: 18%; } }
        @media (min-width: 1240px) {
          #multi-book-form-container .parcel-specs.dimensions input {
            width: 18%; } }
        @media (max-width: 500px) {
          #multi-book-form-container .parcel-specs.dimensions input {
            width: 20%;
            font-size: 12px; } }
      #multi-book-form-container .parcel-specs.dimensions select {
        display: inline-block;
        width: 5em; }
      @media (max-width: 990px) {
        #multi-book-form-container .parcel-specs.dimensions input:first-of-type {
          margin-left: 15px; } }
    #multi-book-form-container .parcel-specs.weight {
      padding: 0; }
      @media (min-width: 1240px) {
        #multi-book-form-container .parcel-specs.weight {
          margin-left: -3%; } }
      @media (max-width: 990px) {
        #multi-book-form-container .parcel-specs.weight .control-label {
          width: 100%; } }
      #multi-book-form-container .parcel-specs.weight input {
        display: inline-block;
        width: 18%; }
      #multi-book-form-container .parcel-specs.weight select {
        display: inline-block;
        width: 5em;
        text-transform: lowercase; }
  #multi-book-form-container .parcel-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative; }
    #multi-book-form-container .parcel-row h4 {
      margin-bottom: .5em; }
    #multi-book-form-container .parcel-row .remove-btn {
      z-index: 9999;
      position: absolute;
      top: .75em;
      right: 0;
      color: #fff;
      text-decoration: none; }
      @media (min-width: 767px) {
        #multi-book-form-container .parcel-row .remove-btn {
          top: 16px; } }
      #multi-book-form-container .parcel-row .remove-btn:before {
        font-family: mpd-icon;
        content: "\e610";
        background: #fff;
        color: #5E7863;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-right: .5em;
        position: relative;
        top: 1px; }
  #multi-book-form-container .quote-btn {
    font-size: 17px;
    width: 198px;
    margin-top: 1.5em; }
    @media (min-width: 767px) {
      #multi-book-form-container .quote-btn {
        margin-right: -15px; } }
  @media (max-width: 990px) {
    #multi-book-form-container .parcel-quantity {
      float: none; } }
  #multi-book-form-container .validation-summary-errors {
    display: none; }
  #multi-book-form-container .input-validation-error {
    background: #DB2A31; }
  @media (max-width: 767px) {
    #multi-book-form-container .location-group .form-group .col-sm-8, #multi-book-form-container .location-group .form-group .col-sm-3, #multi-book-form-container .parcel-specs .col-md-6, #multi-book-form-container .form-group > .col-md-12 {
      padding-right: 0; } }

#booking-parcels .parcel-quantity, .dimensions {
  padding: 6px 10px; }

.same-size-group {
  margin-left: 12px; }

.dimensions input.form-control {
  width: 20% !important;
  font-size: 12px !important; }
.dimensions .len {
  margin-left: 14px; }

#AllDimensionType, #AllWeightType {
  background: #eee; }

.weight input.form-control {
  width: 21% !important;
  font-size: 12px !important; }

@media (max-width: 767px) {
  .quote-btn {
    width: 100% !important; } }
.form-control {
  border-color: white;
  box-shadow: none !important; }

.parcel-specs-single input[type=number]::-webkit-outer-spin-button,
.parcel-specs-single input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }
.parcel-specs-single input[type=number] {
  -moz-appearance: textfield; }

.field-validation-error {
  display: none; }

@media (max-width: 767px) {
  #multi-book-form-container #booking-locations .location-group input[type="text"] {
    padding: 6px; }
  #multi-book-form-container .parcel-specs.dimensions input, #multi-book-form-container .parcel-specs.weight input {
    padding-left: 8px;
    padding-right: 8px; }
  #multi-book-form-container #AllDimensionType, #multi-book-form-container #AllWeightType {
    padding-left: 4px;
    font-size: 12px;
    width: 4em;
    padding-right: 2px; }
  #multi-book-form-container p {
    width: 90%;
    margin-bottom: 20px; } }

/*# sourceMappingURL=multiple-parcels.css.map */
