/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* colours */
/* nav */
/* alerts buttons dialogues */
/* rad */
/* fonts */
/* grid */
/* media query */
/* section */
/* retina images */
.signup {
  /* DESKTOP */
  /* TABLET */
  /* MOBILE */ }
  .signup input[type=number]::-webkit-outer-spin-button,
  .signup input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .signup input[type=number] {
    -moz-appearance: textfield; }
  .signup h2 {
    margin-top: 1em;
    margin-bottom: .5em; }
  .signup .well {
    margin: 0 0px; }
  .signup .col-md-4.form-col.details {
    padding-left: 0; }
  .signup .col-md-4.form-col:last-of-type {
    padding-right: 0; }
  @media (max-width: 990px) {
    .signup .col-md-4.form-col {
      padding: 0 !important; } }
  .signup .form-horizontal h4 {
    margin-bottom: 10px; }
  .signup .form-horizontal .control-label {
    font-weight: normal;
    text-align: left;
    line-height: 1.25; }
  .signup .form-horizontal input[type="radio"] {
    margin: .25em 1em 0 .25em; }
  .signup .form-horizontal .account-type {
    padding-top: 6px; }
  .signup .form-horizontal .btn-primary {
    min-width: 8em; }
  .signup .form-horizontal .btn-secondary {
    min-width: 100px;
    float: right;
    padding: 7px 10px 7px 10px; }
  .signup .form-horizontal .form-group {
    margin-bottom: 0; }
  .signup .form-horizontal .text-danger {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 10px; }
  .signup .form-horizontal #PersonalContactDetails_Postcode, .signup .form-horizontal #BusinessContactDetails_Postcode {
    width: 40%;
    display: inline-block; }
  .signup .form-horizontal #PersonalDetails_Title, .signup .form-horizontal #PersonalAccountDetails_Currency {
    width: 50%; }
  .signup .form-horizontal .checkbox input {
    width: 20px;
    height: 20px; }
  .signup .form-horizontal .terms-check {
    margin-bottom: 35px; }
  @media (max-width: 990px) {
    .signup .form-horizontal {
      padding-bottom: 1em; }
      .signup .form-horizontal .terms-check {
        display: inline-block; }
        .signup .form-horizontal .terms-check .checkbox {
          position: relative;
          top: .75em; }
      .signup .form-horizontal .btn-primary {
        margin-top: 2em;
        padding: 10px 14px; }
      .signup .form-horizontal .btn-secondary {
        width: 55%;
        max-width: 12em; } }
  .signup .form-horizontal #personal-details {
    width: 95%; }
    .signup .form-horizontal #personal-details #PersonalDetails_Title {
      width: 30%; }
  .signup .form-horizontal #personal-contact-details {
    width: 95%; }
    .signup .form-horizontal #personal-contact-details .form-group label {
      width: 33.33333% !important; }
    .signup .form-horizontal #personal-contact-details .form-group .post-code-info {
      padding-left: 0;
      width: 50%; }
    .signup .form-horizontal #personal-contact-details .form-group .find-postcode-input-col {
      width: 97px; }
    .signup .form-horizontal #personal-contact-details .form-group .address-entry-find-postcode-btn {
      width: 54%;
      margin-bottom: 4px; }
  .signup .form-horizontal #personall-account-details {
    width: 95%; }
  .signup .form-horizontal #personal-details .form-group .field-validation-valid, .signup .form-horizontal #personal-contact-details .form-group .field-validation-valid, .signup .form-horizontal #personall-account-details .form-group .field-validation-valid {
    padding-bottom: 4px; }
  .signup #business-details, .signup .business-address {
    margin-top: 1em; }
  @media only screen and (max-width: 1240px) {
    .signup {
      font-size: 12px !important; }
      .signup .form-horizontal #personal-details #PersonalDetails_Title {
        width: 45%; }
      .signup .form-horizontal #personal-contact-details .form-group .find-postcode-input-col {
        width: 100px; }
      .signup .form-horizontal #personal-contact-details .form-group .address-entry-find-postcode-btn {
        margin: 6px 0;
        float: left; }
      .signup .form-horizontal #personal-contact-details .form-group .post-code-info {
        width: 115px !important; } }
  @media only screen and (max-width: 990px) {
    .signup .form-horizontal #personal-details .form-group label {
      float: left;
      width: 26%; }
    .signup .form-horizontal #personal-details .form-group input {
      margin-left: 0;
      width: 65%;
      float: left; }
    .signup .form-horizontal #personal-details .form-group #PersonalDetails_Title {
      width: 10%;
      float: left;
      margin-left: 0; }
    .signup .form-horizontal #personal-details .form-group #PersonalDetails_IsPersonalorBusiness, .signup .form-horizontal #personal-details .form-group #PersonalDetails_IsPersonalorBusiness {
      float: none;
      width: auto; }
    .signup .form-horizontal #personal-contact-details .form-group label {
      width: 24% !important;
      float: left; }
    .signup .form-horizontal #personal-contact-details .form-group input {
      width: 100% !important; }
    .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Address_FindPostcode {
      width: 85% !important; }
    .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Telephone, .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Mobile {
      width: 65% !important;
      margin-left: 15px;
      float: left; }
    .signup .form-horizontal #personal-contact-details .form-group .address-entry-find-postcode-btn {
      width: 35%;
      margin: 1px 0 4px 0; }
    .signup .form-horizontal #personall-account-details .form-group label {
      width: 24% !important;
      float: left; }
    .signup .form-horizontal #personall-account-details .form-group input {
      width: 65%;
      float: left;
      margin-left: 15px; }
    .signup .form-horizontal #personall-account-details .form-group .terms-check p {
      margin-top: 20px; }
    .signup .form-horizontal #personall-account-details .form-group .signup-btn {
      float: left !important;
      margin-left: 170px; } }
  @media only screen and (max-width: 767px) {
    .signup .form-horizontal {
      padding-bottom: 0px !important; }
      .signup .form-horizontal #personal-details {
        width: 100%; }
        .signup .form-horizontal #personal-details .form-group #PersonalDetails_Title {
          float: none;
          width: 30% !important; }
        .signup .form-horizontal #personal-details .form-group label {
          float: none;
          width: 100%; }
        .signup .form-horizontal #personal-details .form-group input {
          float: none;
          width: 100%; }
      .signup .form-horizontal #personal-contact-details {
        width: 100%; }
        .signup .form-horizontal #personal-contact-details h4 {
          margin: 20px 0; }
        .signup .form-horizontal #personal-contact-details .form-group label {
          float: none;
          width: 100% !important; }
        .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Telephone, .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Mobile {
          margin-left: 0 !important;
          width: 100% !important; }
        .signup .form-horizontal #personal-contact-details .form-group #PersonalContactDetails_Address_FindPostcode {
          float: left !important;
          width: 100% !important;
          margin-right: 10px; }
        .signup .form-horizontal #personal-contact-details .form-group .address-entry-find-postcode-btn {
          margin-top: 0; }
        .signup .form-horizontal #personal-contact-details .address-entry-address-fields label {
          width: 100% !important; }
      .signup .form-horizontal #personall-account-details {
        width: 100%; }
        .signup .form-horizontal #personall-account-details h4 {
          margin: 20px 0; }
        .signup .form-horizontal #personall-account-details .form-group label {
          float: none;
          width: 100% !important; }
        .signup .form-horizontal #personall-account-details .form-group input {
          width: 100%;
          margin-left: 0; }
        .signup .form-horizontal #personall-account-details .form-group .signup-btn {
          float: none !important;
          margin: 0; }
      .signup .form-horizontal .well {
        margin: 0 15px; }
      .signup .form-horizontal .btn-primary {
        width: 100% !important;
        padding: 12px; }
      .signup .form-horizontal a {
        display: block; } }

/*# sourceMappingURL=signup.css.map */
